[2015-04-09 14:21] rsial2 opened #10 "Round 7 - Daily Intake Report - Camera"
When the camera button is pressed, the blue box that has "Snap a Photo" and Scan Barcode" has a little triangle in the top right corner that points to the pencil tool.  It should be pointing to the camera button. Similarly with the pen/search button, when that is tapped, the little triangle should point to that icon (and not the water icon).

[2015-04-09 14:21] rsial2 opened #11 "Round 7 - Food Inventory - Nutrient Content"
When sorting by nutrient content, can we keep any filters that are clicked?  For example, if I want to get a list of Meat / Fish items that are sorted by sodium content, I would like to click Meat / Fish on the left and then Sort By Nutrient Content.  Right now, if I sort by nutrient content, all foods appear.

[2015-04-09 14:21] rsial2 opened #12 "Round 7 - Daily Intake Report - Character Updates"
1. Change pkg to Pkg
2. Change gr (grams) to g

[2015-04-09 14:22] rsial2 opened #13 "Round 7 - Current Nutrient Intake Progress"
Change kcal to Calories. Also change kcal to Cal in the green icons next to each food.

[2015-04-09 14:23] rsial2 opened #14 "Round 7 - Food Inventory - Food List"
On the list of foods, left justify the food list dividers (alphabet letters A, B, C...) so that they line up directly above (or closer to) the alphabetized food names (list). This will reduce visual scan on a dense display.

[2015-04-09 14:23] rsial2 opened #15 "Round 7 - Record Food Intake"
Reverse the Cancel/Done buttons.

[2015-04-09 14:23] rsial2 opened #16 "Round 7 - Daily Intake Report - Copy Button"
When a food item is checked and the copy button is pressed, the color of the Copy button should be changed from red to green. Similarly, when the paste button is pressed, the color of the paste button should be green instead of red.

[2015-04-09 14:23] rsial2 opened #17 "Round 7 - Daily Intake Report - Button Color Change"
When a food item is checked and the delete button is highlighted, that should be changed from red to a light orange color.

[2015-04-09 14:24] rsial2 opened #18 "Round 7 - Daily Intake Report - Button Updates"
1. The icon for the delete button should be a native iOS icon (if you look in the Notes app of the iPad, use that icon for delete.

2. The icon for the copy button should be a native iOS icon

3. The icon for the paste button should be a native iOS icon

4. The icon next to Add Food should be a + icon instead of the check with a circle around it.

[2015-04-09 14:33] szwart commented on #18
I need to make a correction to #4 above - that should be the icon of a folder with a + on it (this is the one I emailed to Rashid).

[2015-04-09 14:35] rsial2 commented on #18
@szwart, the .jpeg you sent me isn't suitable to be used as an icon. It's not in the correct format, doesn't match the design and is not a high resolution. Do you mind if we use one of the native icons for 4?

[2015-04-09 14:37] szwart commented on #18
That should work – thanks!

From: Rashid Sial [mailto:notifications@github.com]
Sent: Thursday, April 09, 2015 9:36 AM
To: nasa/NTL-ISS-Food-Intake-Tracker
Cc: Zwart, Sara (JSC-SK)[UNIVERSITIES SPACE RESEARCH ASSOC-DIV OF SPACE LIFE SCIENCES]
Subject: Re: [NTL-ISS-Food-Intake-Tracker] Round 7 - Daily Intake Report - Button Updates (#18)

@szwart<https://github.com/szwart>, the .jpeg you sent me is

[2015-04-10 20:39] rsial2 opened #19 "Round 7 - App Versioning"
For this round, and all future rounds, we need to start including version numbers. In both Xcode and the and in the version number in the Settings app for ISS FIT, please set the new version to 1.7.

[2015-04-11 15:54] rsial2 commented on #18
Hi @szwart, if we change the icons (which we custom designed for ISS FIT), the native icons from Apple don't include colors. So we'd need to custom design them again.

The question about the color change is related to #17

How do you want to handle this? I think the icons are very clear right now. Most iOS apps have their own custom icons, and vary rarely do they use the native icons. Most Apple b

[2015-04-11 19:24] szwart commented on #18
The most important thing is to get rid of the red color on the trash can. Can that be done?

On Apr 11, 2015, at 10:54 AM, Rashid Sial <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi @szwart<https://github.com/szwart>, if we change the icons (which we custom designed for ISS FIT), the native icons from Apple don't include colors. So we'd need to custom design them again.

Th

[2015-04-12 13:16] rsial2 commented on #18
@coderReview please confirm

[2015-04-13 15:40] coderReview commented on #18
All icons used came from a prototype. They cannot be modified. Do you have the Photoshop source?

[2015-04-13 15:59] rsial2 commented on #18
Yes, please see: https://github.com/nasa/NTL-ISS-Food-Intake-Tracker/tree/master/App%20Documentation/Storyboards

[2015-04-14 15:25] rsial2 commented on #19
Confirmed that this has been addressed in the latest release. Closing this ticket.

CC @nasarader & @szwart

[2015-04-14 15:25] #19 closed

[2015-04-14 15:38] szwart commented on #18
Fixed

[2015-04-14 15:38] #18 closed

[2015-04-14 15:38] szwart commented on #17
Fixed.

[2015-04-14 15:38] #17 closed

[2015-04-14 15:38] szwart commented on #16
Fixed.

[2015-04-14 15:38] #16 closed

[2015-04-14 15:40] szwart commented on #15
Fixed.

[2015-04-14 15:40] szwart commented on #15
Fixed

[2015-04-14 15:40] #15 closed

[2015-04-14 15:47] szwart commented on #14
Fixed.

[2015-04-14 15:47] #14 closed

[2015-04-14 15:48] szwart commented on #13
Fixed

[2015-04-14 15:48] #13 closed

[2015-04-14 15:51] szwart commented on #12
When a food is displayed in the Daily Intake Report and I swipe to the left over the nutrient content of that food, the protein, carb, and fat are still displayed as gm instead of g.  Also, when sorting foods by protein, carb, or fat in the Food Inventory, they still appear as gm instead of g.

[2015-04-14 15:51] szwart commented on #11
Fixed.

[2015-04-14 15:51] #11 closed

[2015-04-14 15:51] szwart commented on #10
Fixed.

[2015-04-14 15:51] #10 closed

[2015-04-14 15:55] rsial2 commented on #12
Working on this!

CC @coderReview

[2015-04-14 20:45] szwart opened #22 "Round 8 - Snap a Photo - Remove Requirement to Add Food Name"
After a photo is taken, a result box with the picture appears. Please take away the requirement to add a food name. Also, once the user taps the Add to Consumption button, bring the user directly to the Daily Intake Report screen instead of having the extra "Food Added" screen that asks if the user wants to View Summary or Take Another Photo.

[2015-04-14 20:50] coderReview commented on #22
@szwart, @rsial2, I cannot save to the database without a food name. If the food has no name the application will not work properly. What I could do is create an random name or something similar.
About the other request, no probem.

[2015-04-14 20:56] szwart commented on #22
OK - how something similar to when a voice recording is done.  It just lists as "Intake from Voice".  Maybe a photo could be "Intake from Photo" if the user chooses to not enter a food name.

[2015-04-14 21:03] szwart opened #23 "Round 8 - Snap a Photo - Crash"
When I click
1. Snap a Photo
2. Tap Cancel
3. Tap Yes to the question "Would you like to cancel photo?"
4. Tap Cancel
5. Tap Snap a Photo
6. Tap Cancel
7. App crashes
I've been able to reproduce this crash several times. I was using the user profile Ricky Jedrey.

[2015-04-14 21:07] coderReview commented on #22
The difference is that after a food is added, it's inserted in the database food list and can be added again. A voice recording is added only once and cannot be added again, only with another voice recording. If you don't want to allow the food to be added again, I could use something like "Intake from Photo". But this isn't a a minor adjustment to the code and would take at least a 5-7 days to im

[2015-04-14 21:20] szwart commented on #22
Copy.  We do not think that a user will take a photo and use it again in the food inventory (it won't have nutrient content associated with it), so we don't think it is necessary to allow the food to be added again.  This is something we would like to keep on our wish list for the next round of fixes if/when we get more funds.

[2015-04-14 21:31] rsial2 commented on #22
@coderReview, what if we did this:
1. User can add food name or not. Basically, we don't require them to do it.
2. If they don't add the food name, in the DB, we save it as "Intake from Photo <Insert Date>" as the name in the DB.
3. In the Food Summary, and in any reports in the Admin Tool, we display the name as "Intake from Photo <Insert Date>"

Would that work?

[2015-04-14 21:33] coderReview commented on #22
2- It would just replace the existing food with the latest. I don't know if we would image would get replaced by the latest one. I would have to check.

[2015-04-14 21:38] rsial2 commented on #22
What if we made it "Intake from Photo 04/14/15 12:05". So we add a timestamp to the food name whenever no food name is entered? This way it's unique. Would that help?

[2015-04-14 21:40] rsial2 commented on #12
@szwart, this defect has been fixed. Please delete the old version and re-install from the same install link.

[2015-04-14 21:48] rsial2 opened #25 "Round 7 - 3rd Party Libraries"
Please update https://github.com/nasa/NTL-ISS-Food-Intake-Tracker/tree/master/Third%20Party%20Libraries with the new libraries that we're using.

[2015-04-14 21:52] coderReview commented on #25
How do I add a link to github repository? Should I change it directly in Nasa repository?

[2015-04-14 21:53] coderReview commented on #22
This would add entries to the food list anyway. I would have to change the code to match the same behavior as the audio recording. And this should take a few days as I mentioned.

[2015-04-14 22:01] szwart commented on #22
Perfect!

On Apr 14, 2015, at 4:31 PM, Rashid Sial <notifications@github.com<mailto:notifications@github.com>> wrote:

@coderReview<https://github.com/coderReview>, what if we did this:
1. User can add food name or not. Basically, we don't require them to do it.
2. If they don't add the food name, in the DB, we save it as "Intake from Photo " as the name in the DB.
3. In the Food Summary, and in a

[2015-04-14 22:02] szwart commented on #22
That works!

On Apr 14, 2015, at 4:38 PM, Rashid Sial <notifications@github.com<mailto:notifications@github.com>> wrote:

What if we made it "Intake from Photo 04/14/15 12:05". So we add a timestamp to the food name whenever no food name is entered? This way it's unique. Would that help?

—
Reply to this email directly or view it on GitHub<https://github.com/nasa/NTL-ISS-Food-Intake-Tracker/issues

[2015-04-14 22:07] rsial2 commented on #25
Create a text file and then include a link in that text file.

For the locally modified libraries, include the code.

[2015-04-14 22:09] rsial2 commented on #22
@coderReview, ok, once we're done entering the round 8 changes, I'll send you an email so that you can include this in your estimates. Depending on the cost & time, we'll need NASA to approve it.

[2015-04-15 13:36] szwart opened #26 "Round 8 - Admin Tool - Bulk Upload Does Not Upload All Foods"
There are 2 Mashed Potatoes items in the data.csv file, one is Russian and one is NASA.  When I searched the Food Data in the Admin Tool, there were 2 Mashed Potatoes, but both were the Russian version (with 923 mg sodium).  I deleted one of the entries and did a bulk upload to upload our data.csv file.  I then went back to the Food Data tab of the Admin Tool and searched for Mashed Potatoes and t

[2015-04-15 13:38] szwart opened #27 "Round 8 - Snap a Photo - Cancel"
When the Snap a Photo button is tapped, then Cancel, then it asks the user are they sure they want to cancel.  If the user taps Yes, they still have to tap Cancel again to actually cancel.  Can we make it so that when the user taps Cancel the first time, it brings them straight back to the Daily Intake Report page (so get rid of the pop up that asks to confim the cancel and the second cancel step)

[2015-04-15 13:42] coderReview commented on #26
Yes. The first one is updated with the information of the second one. I could add a check for both food name and origin when doing bulk load. Is there any other information that might make the food unique besides name and origin?

[2015-04-15 13:45] szwart commented on #26
If that is the issue, then we can just add the origin to the name of the food item - use "Russian Mashed Potatoes" or "NASA Mashed Potatoes".  There are only a couple foods that have the exact name and the only identifier is the origin.  Thanks.

[2015-04-15 13:52] coderReview commented on #26
That is not needed. I can make the separation based on both food name and origin. I will have to update the Admin Tool. Not sure if any change in the iPad application is needed.

[2015-04-15 14:13] szwart commented on #26
OK - but when the user sees the 2 Mashed Potato items in the Food Inventory list, they can't distinguish them (unless they actively sort by origin), so we will likely add the origin to those food names anyway just to make it easier for the user.

[2015-04-15 14:28] coderReview commented on #26
I think in the iPad application this could be done only for duplicate food. Otherwise the list will become very poluted with food name and origin. In the database the food name does not need to have the origin. Also, I could also update the admin tool to add a column with the origin in the food tab.

[2015-04-15 14:48] szwart commented on #26
I only added (NASA) or (Russian) after the food if it had a duplicate name.  So there are only a handful of these.  I do not think it looks cluttered.  If I click the Food Data tab in the Admin Tool, there is an entry for origin.  Unless you think we need to adjust the Admin Tool, I think it is ok and this issue is closed.

[2015-04-15 15:09] coderReview commented on #26
Since the origin is already present in the database, to have it in the name is not really necessary and could lead to errors in the future (forget to add it). A quick change in the admin tool can fix this.
In the iPad app I would add the origin to those food with duplicate name in the add consumption screen. This wouldn't take a long time either.
One other option is to change just the admin tool a

[2015-04-15 16:19] szwart opened #28 "Round 8 - Barcode Scanning - Adding Multiple Entries of the Same Food"
2 different foods were scanned and added to consumption. Sometimes they show up as 1 entry in the Daily Intake Summary and then if they are scanned again they sometimes show up as 2-4 entries of the same food.  This happened with Brown Rice and Tomatoes & Eggplant food items - the barcodes for these items are attached.
![tom and eggplant](https://cloud.githubusercontent.com/assets/11872594/7163736

[2015-04-15 16:24] szwart opened #29 "Round 8 - Barcode Scanning - Crash After Adding Multiple Items"
After scanning several barcodes and then taking a picture of a food and going back to adding barcodes the app crashed.  Here is a crash log from this event:
{"bundleID":"com.topcoder.FoodIntakeTracker","app_name":"FoodIntakeTracker","share_with_app_devs":false,"name":"FoodIntakeTracker","app_version":"1.7","is_first_party":false,"os_version":"iPhone OS 8.0.2 (12A405)","bug_type":"109","slice_uuid"

[2015-04-15 16:27] szwart opened #30 "Round 8 - Login Screen - Photos Look Squished/Stretched"
On the Photo Login screen, all of the photos look like they are stretched out.

[2015-04-15 16:31] rsial2 commented on #26
@szwart, does this option work for you?

Option: One other option is to change just the admin tool and add the origin to the name automatically when a record with the same name is already found.

[2015-04-15 16:34] szwart commented on #26
Yes, that works for us.  Thanks!

[2015-04-15 17:34] coderReview commented on #26
Hi, I think the first option might best.
1- The update in the admin tool is very simple.
2- The update in the app tool doesn't take long (would only update the add food screen).

Why first option is best?
1- User does not have to care about food with same name
2- After the food is added and name gets changed, if you need to update the food you will have to add the origin in the name inside the CSV

[2015-04-15 17:42] szwart commented on #26
OK - as long as the user can distinguish food items with the same name, I defer to whatever you think is best.

[2015-04-16 19:52] rsial2 commented on #12
Hi @szwart, just checking in. Can we close this?

[2015-04-16 21:45] szwart commented on #12
Fixed.

[2015-04-16 21:45] #12 closed

[2015-04-17 17:15] szwart opened #31 "Round 8 - Daily Intake Report/Food Inventory - Change to Title Case"
Change "DAILY INTAKE REPORT" to "Daily Intake Report".
Change "TODAY'S NUTRIENT INTAKE PROGRESS" to "Today's Nutrient Intake Progress"
In Food Inventory page, change "FOOD INVENTORY" to "Food Inventory"
In Food Inventory page, change "CATEGORIES" to "Categories"
After the microphone button is tapped, change the "RECORD FOOD INTAKE" at the top of the screen to "Record Food Intake"

[2015-04-17 17:19] szwart opened #32 "Round 8 - Snap a Photo - Change Wording on Food Added Popup Box"
After the user snaps a photo and taps Add to Consumption, a Food Added box comes up.  Change the words "View Summary" on the button on the left to "View Daily Intake Report".
Also, change the words "FOOD ADDED" in that box to "Food Added"

[2015-04-17 17:23] szwart opened #33 "Round 8 - Scan a Barcode - Change Name of Button in Food Added Popup"
After the user scans a barcode and taps Add to Consumption, a popup box comes up.  Change the button on the left from View Summary to "View Daily Intake Report".  Also change case of FOOD ADDED to "Food Added".

[2015-04-17 19:58] coderReview commented on #25
@rsial2 , instead of posting the repository, I will put the code and libraries used. For PGClientKit I will make a small text file on how to recompile the static libraries (libssl, libcrypto and libpq). The only used without modiification is the barcode scanner libary. Is this ok?

[2015-04-17 20:01] rsial2 commented on #25
Yeah, I'd much prefer the code please :)

[2015-04-20 16:29] szwart opened #34 "Round 8 - Help / Settings - Update with current user guide"
Many of the screenshots and icons used in the Help / Settings area are old and have been updated.  Can we update this with the user guide that was recently updated?

[2015-04-21 14:05] coderReview commented on #34
Where can I get the current user guide?

[2015-04-21 14:20] rsial2 commented on #34
I will post it tomorrow. It's still being updated :)

[2015-04-22 02:16] szwart opened #35 "Round 8 - Login Screen - Change Register Button"

[2015-04-22 02:18] szwart commented on #35
Rename "Register" as "New User" and use a plus sign instead of the current icon that looks like a person.

[2015-04-22 02:24] szwart opened #36 "Round 8 - Daily Intake Report - Change First Add Food Icon"
Change the icon that is currently a circle with a check in it to a folder with a plus on it. When the button is tapped, it should change to a lighter color (similar to what happens when the camera icon it tapped).

![g59_add](https://cloud.githubusercontent.com/assets/11872594/7266253/92315844-e86c-11e4-9d55-fe422b302880.gif)

[2015-04-22 02:29] szwart opened #37 "Round 8 - Daily Intake Report - Change Logout Icon"
Change the Logout icon to the one attached here.  When the button it tapped, it should appear lighter in color (similar to what the camera icon looks like when that button is tapped).
![g63_logout](https://cloud.githubusercontent.com/assets/11872594/7266336/80a20b9a-e86d-11e4-8a98-670832455e15.gif)

[2015-04-22 02:31] szwart opened #38 "Round 8 - Daily Intake Report - Camera/Barcode"
When the Camera icon is tapped, a dropdown box with Snap a Photo and Scan Barcode appear next to their icons.  Please take away those two icons and just have the words in those boxes.

[2015-04-22 17:02] rsial2 commented on #37
When the logout button is tapped, there's an immediate logout, there's no press state (change in color).

[2015-04-22 17:02] rsial2 commented on #36
When the Add Food button is tapped, the Food Inventory page immediately loads, there's no press state (change in color).

[2015-04-22 17:05] rsial2 commented on #34
@coderReview, the updated user guide has been committed to GitHub: https://github.com/nasa/NTL-ISS-Food-Intake-Tracker/blob/master/App%20Documentation/User_Guide/ISS_FIT_User_Guide.doc

[2015-04-22 17:09] szwart commented on #37
Oops.  You are right!

[2015-04-22 17:10] szwart commented on #36
It looked like it changed a shade on my iPad...but it's fine not changing either.  Basically, just want to keep it as it is now (just change the icon).

[2015-04-22 19:39] rsial2 commented on #37
@coderReview, here's the icon you can use for the app: http://www.flaticon.com/free-icon/key-silhouette-security-tool-interface-symbol-of-password_56255

Just make sure to follow the attribution procedures (as specified on the link above).

[2015-04-22 19:40] rsial2 commented on #35
@coderReview, here's the icon you can use for the app: http://www.flaticon.com/free-icon/add-plus-button_61112

Just make sure to follow the attribution procedures (as specified on the link above).

[2015-04-22 19:42] rsial2 commented on #36
@coderReview, please use this icon: http://www.flaticon.com/free-icon/new-add-folder_8715

[2015-04-23 03:47] coderReview commented on #27
@szwart, Do you agree with the following?
1- I will remove the popup.
2- If you hit Cancel, it will enable all bottom buttons (Result, Show all photos, Cancel)
3- If you hit bottom Cancel you will go back to intake list
4- If you take a photo, you can click the bottom cancel to go back to intake list.

[2015-04-23 04:10] coderReview commented on #30
Were they taken by the application?

[2015-04-23 04:21] coderReview commented on #31
The font used puts all text to caps. Should I use another font? Which?

[2015-04-23 05:33] coderReview commented on #34
Right now the help data is in Html. Do you want to show the user guide as an Html or can I convert to pdf and show it like that?

[2015-04-23 11:40] rsial2 commented on #31
You're good to replace it. Just use the closest font possible so that it looks similar.

[2015-04-23 11:41] rsial2 commented on #34
HTML please.

[2015-04-23 11:41] rsial2 commented on #34
Just follow the current implementation so that it looks the same, please.

[2015-04-23 12:31] szwart commented on #30
Yes

[2015-04-23 12:40] szwart commented on #27
No, we would like to have it so that if the user taps Cancel, it immediately brings them back to the Daily Intake Report page.

[2015-04-23 22:03] coderReview commented on #27
@szwart, Will you still want to support the results, all photos buttons?

[2015-04-24 13:05] szwart commented on #27
Sorry.  What you suggested above is probably best (to enable all bottom buttons once Cancel is pressed once.  We were just trying to figure a way that if the user wants to get out of the camera screen, they could do it with the press of one button.  Similar to the check box food area - there is a Go Back button at the top left.  Could that be done here?  If that is pressed, the user goes directly

[2015-04-24 13:53] rsial2 commented on #27
Hi Sara, we completed the update already - I just need to create a new build of the app. After testing if you still want it changed to what you mentioned in the comment above, just add another comment here.

[2015-04-24 14:11] coderReview commented on #27
These buttons will only be enable after a photo (or barcode) is taken. As Rashid said, try how I implemented, if you think you have to change it let me know. Thanks

[2015-04-24 18:06] szwart commented on #22
Fixed.

[2015-04-24 18:06] #22 closed

[2015-04-24 18:07] szwart commented on #23
Fixed.

[2015-04-24 18:07] #23 closed

[2015-04-24 18:16] szwart commented on #26
Going forward, we are going to add food origin in parentheses after any food with the same name. Otherwise, the food inventory still does not distinguish between 2 foods of the same name but different origin.  This is not a problem for us and we consider this fixed.

[2015-04-24 18:16] #26 closed

[2015-04-24 18:16] szwart commented on #27
This works for us.  Thanks!

[2015-04-24 18:16] #27 closed

[2015-04-24 18:21] szwart commented on #28
Seems to be fixed!

[2015-04-24 18:21] #28 closed

[2015-04-24 18:22] szwart commented on #29
Seems to be fixed!

[2015-04-24 18:22] #29 closed

[2015-04-24 18:26] szwart commented on #30
Fixed.

[2015-04-24 18:26] #30 closed

[2015-04-24 18:28] szwart commented on #31
Fixed

[2015-04-24 18:28] #31 closed

[2015-04-24 18:28] szwart commented on #32
Fixed

[2015-04-24 18:28] #32 closed

[2015-04-24 18:29] szwart commented on #33
Fixed

[2015-04-24 18:29] #33 closed

[2015-04-24 18:30] szwart commented on #34
Fixed

[2015-04-24 18:30] #34 closed

[2015-04-24 21:17] coderReview commented on #26
@szwart, there is no need for that. Both Admin tool and iPad are able to distinguish food with same name but different origin. If you are having any issue, let me know and I will fix that.
Thanks

[2015-04-24 22:10] rsial2 opened #40 "Admin Tool - Add Login Capability"
Please implement the following:

1. Add login capability to the admin tool.

2. Make a default login, and then make the login configurable via the admin tool setup process.

3. Update the architecture and deployment guide so that it includes information about the new functionality, and how to configure it.

[2015-04-28 15:40] rsial2 commented on #25
@coderReview, just checking in on this. Please let me know if you can complete it soon.

[2015-04-28 15:41] rsial2 opened #42 "Admin Tool - Report Not Functioning"
The admin tool doesn't seem to be working if you run a report. The page will refresh but nothing is loaded.

[2015-04-28 15:53] rsial2 commented on #35
@coderReview, "Regiser" needs to be changed to "New User". The new icon is there, but the label needs to be updated.

[2015-04-28 16:03] coderReview commented on #42
Latest pull request has the fix for this issue.
Thank you.

[2015-04-28 16:06] coderReview commented on #25
When all issues are fixed, I will update this folder.

[2015-04-28 16:22] rsial2 commented on #42
I just ran a report (both user and all user) and the summary.zip was generated, but the .zip file is empty (there is no csv file).

[2015-04-28 16:23] rsial2 commented on #25
I need it soon - please remember that the app itself needs the libraries to be updated too as we discussed before. That was part of it, updating the app to the latest versions and getting the code into GitHub.

I need this done soon because I have to launch a bug hunt in the next 2 days. Can you do this today or tomorrow?

[2015-04-28 16:38] coderReview commented on #42
@rsial2 , when I merged the data from NASA I might have wiped out all food consumption records. So they might be empty alright. Can you try adding some records and see if they are still empty? Thanks

[2015-04-28 16:40] coderReview commented on #25
The app is updated with latest stable version of the Libraries. What I will do is to put the link to the github repository and a deployment guide for each library (possibly some patches, if applicable). What do you think? Or should I move the instructions to the app's DG?

[2015-04-28 16:42] rsial2 commented on #42
Found a few issues:
1. If you login as the Jack O'Neil user, and go to julian date 114, there is data saved - so the report is not pulling that data.
2. If you add data right now (and I just did that for today, Jack O'Neil user), the food will be added, but the "last sync" timestamp is not being updated - so the data is not being synced / saved.

[2015-04-28 16:43] rsial2 commented on #25
Please move it to the deployment guide please. Want to keep things consolidated.

[2015-04-28 20:36] szwart opened #43 "Round 8 - Admin Tool - Bulk Upload user data.csv file"
A question came up about the file used to bulk upload user profile data.  One of the fields is “Max Packets per Food Product Daily”.  If that number is changed, it doesn’t look like that affects the Qty in the drop down scroll wheel.  Do you know if that Max Packets number changes anything?  We don't necessarily need this field anymore because users don't ever type numbers for Qty (this was origin

[2015-04-29 05:52] coderReview commented on #42
@rsial2 , I had no issue with synced data. Last sync worked ok. Merge request has fix for this issue.
Thanks

[2015-04-29 07:42] coderReview commented on #40
@rsial2 , done. See merge request #44.

[2015-04-29 07:46] coderReview commented on #43
@szwart, I will have to update the loadUser.py script to adapt to this request and update the site instructions and Admin Tool documentation.
@szwart, @rsial2 , Do you want me to implement these changes?

[2015-04-29 12:47] szwart commented on #43
No, if it's a big deal let's not change anything.  It's not hurting anything right now.  I just wasn't sure if it was actually being used for anything. We will likely upload crew profiles manually anyway instead of using the bulk upload feature.

[2015-04-29 13:17] rsial2 commented on #43
Ok, thanks Paulo & Sara. I am closing this ticket.

[2015-04-29 13:17] #43 closed

[2015-04-29 15:36] szwart commented on #40
Fixed

[2015-04-29 15:36] #40 closed

[2015-04-29 15:39] szwart commented on #35
Fixed.

[2015-04-29 15:39] #35 closed

[2015-04-29 15:40] szwart commented on #38
Fixed

[2015-04-29 15:40] #38 closed

[2015-04-29 15:50] rsial2 commented on #42
I just tested it, and the report is working. But the summary.csv is not accurate.

1. For the Jack user, I entered 7 foods. All were successfully synced.
2. The media for the food were all correctly saved, and showed up in the zip file.
3. When viewing the summary.csv, all foods appeared in the report.
4. ERROR: Date stamp is appearing as 04/24 or 04/25, even though I entered the food for a date i

[2015-04-29 15:51] rsial2 commented on #42
Actually, here's a bigger screenshot:
![image](https://cloud.githubusercontent.com/assets/5807576/7395130/061797ba-ee66-11e4-8aac-b33f790460c5.png)

[2015-04-29 18:05] coderReview commented on #36
@szwart , @rsial2 , Is this fixed?

[2015-04-29 18:05] coderReview commented on #37
@szwart , @rsial2 , Is this one fixed?

[2015-04-29 18:07] rsial2 commented on #37
@coderReview, Sara is waiting on another team at NASA to provide feedback. Please hold tight.

[2015-04-29 18:07] rsial2 commented on #36
@coderReview, Sara is waiting on another team at NASA to provide feedback. Please hold tight.

[2015-04-30 11:42] coderReview commented on #25
@rsial2 , Merge request created. Deployment Guide was updated. Also, I made some code cleanup (removed openears reference).

[2015-04-30 13:30] rsial2 commented on #25
Thanks @coderReview!

FYI, @nasarader, this is all set. Please see: https://github.com/nasa/NTL-ISS-Food-Intake-Tracker/tree/master/Third%20Party%20Libraries

[2015-04-30 13:30] #25 closed

[2015-04-30 13:31] rsial2 commented on #42
@coderReview, can you look into this today?

[2015-04-30 13:51] coderReview commented on #42
@rsial2 , I think it's all ok.
Let's see. Day 115 is 04/25 - saturday.
The items in the app in order and its correspondence to the excel summary file:
1- Almonds, Emerald ... -> Line 15
2- Almonds, Unsalted -> Line 16
3- Intake from voice -> Line 19
4- Intake from Photo -> Line 20
5- Drinking water -> Line 21
6- Blueberry/Raspberry ... -> Line 18

All the times are the same.

[2015-04-30 15:25] rsial2 commented on #42
Ok, but what about these issues?
1. Line 20, time stamp is being displayed as 00:00:00, when it was entered at 15:36:00.
2. Line 21, time stamp is being displayed as 00:00:00, when it was entered at 15:36:00.

Also, is the "+0000" required? If not, let's remove it.

[2015-04-30 15:32] coderReview commented on #42
The time in the report is the same as in the application. So if there is an issue is not with the report but how the date is saved in the food record. The hour/minute/second information could be missing. Will check and update the iPad app.

[2015-04-30 15:37] rsial2 commented on #42
Thanks for looking into it.

[2015-04-30 15:38] rsial2 commented on #42
If you can make a fix today, I would appreciate it. I would like to launch a bug hunt contest (for QA) later today. This is the last thing I'm waiting on :)

[2015-04-30 15:53] coderReview commented on #42
@rsial2 , Fixed in latest merge request.

[2015-04-30 17:44] szwart commented on #37
Approved!

[2015-04-30 17:44] #37 closed

[2015-04-30 17:46] szwart commented on #36
Approved!

[2015-04-30 17:46] #36 closed

[2015-04-30 17:48] szwart opened #47 "Round 9 - Help / Settings - this needs to be updated with current screen shots"
It was pointed out that the screen shots in the Help / Settings area are not current with the new icons and colors.  Can this be fixed easily in this round??

[2015-04-30 17:55] rsial2 commented on #47
Yes, but it'll need to be part of round 9, since the help doc and the help content within the app were already updated before the icon change requests came in.

[2015-04-30 19:11] rsial2 commented on #42
Found two issues:

1. In latest build, all profile photos are missing now.

2. Ran a summary for the Jack user, now all food entries for yesterday and today, have the exact same  entry time, even though the times should be different:
![image](https://cloud.githubusercontent.com/assets/5807576/7420515/22e20f84-ef4b-11e4-949f-423fdc76124c.png)

[2015-04-30 19:12] rsial2 opened #48 "Round 9 - Lost Internet Connection"
Please change the message to:
Title: Network Connection Error
Body: This iPad has lost it's network connection. You can still use the ISS FIT app, and we will attempt to sync with the central food database when it's available.

[2015-04-30 19:21] rsial2 commented on #48
And for when it reconnects, please change it to:
Title: Connection Re-established
Body: This iPad now has a network connection. Any food that you've entered will now be saved to the database.

[2015-04-30 19:31] coderReview commented on #42
I made a clean up in the database. There are only entries I've made.

[2015-04-30 19:38] rsial2 commented on #42
I don't understand. Were the photos cleared from the DB? How does that explain the time stamps though?

[2015-05-01 16:31] rsial2 commented on #42
I checked the latest build. Here are the issues:
1. Photos taken via the app are not being sized correctly. They distorted. You had fixed this one before. They're distorted again.
2. I tried to register a new user to see if the distortion would appear, and during registration, the camera wouldn't load.
3. See attached photo. I entered food for Julian date 123, which is 05/03/15 for the Jack user.

[2015-05-02 17:23] coderReview commented on #42
1- Photos I've added were taken before the fix. So some of them will look strange.
2- Worked fine. See Paulo Silva user. I've just recompiled the code with latest Xcode.
3- Fixed. The report was only generated until the current date plus 1 day. The idea was to generate the report for past entries not future ones. I've changed so past and future (plus 180 days) will be fetched.

[2015-05-04 15:19] rsial2 commented on #42
1. Ok
2. I figured out the issue. The problem is the iOS version. I was running iOS 8.2, and it wouldn't work. So I upgraded to iOS 8.3, and it worked. The iPads on the ISS will be running iOS 7.X+ and a few will be running iOS 8.X+. Can you fix the camera so it'll work with iOS 7+ plus.
3. Fixed

[2015-05-04 15:39] coderReview commented on #42
2- I don't have an iPad with 7.x anymore. However, nothing in the code was changed that justifies this issue. Anyone has any iPad with this iOS version?

[2015-05-04 15:55] rsial2 commented on #42
Ok, I'm going to close this defect and we'll see how the members do in the bug hunt.

[2015-05-04 15:55] #42 closed

[2015-06-06 14:47] rsial2 opened #61 "iPad Sync When DB Has Been Cleared"
Implement functionality so that if a DB is cleared, the app will download any new data automatically. Right now it requires the app to be deleted and re-installed to get the new data.

[2015-06-09 18:50] rsial2 commented on #47
Completed.

[2015-06-09 18:50] #47 closed

[2015-06-09 20:49] derekargueta opened #64 "Add .gitignore to ignore standard XCode user files and data."
When working on issue #48 I was surprised that git added some xcuserdata files. These should be ignored through a .gitignore file.

http://stackoverflow.com/questions/18939421/what-should-xcode-6-gitignore-file-include

[2015-06-09 20:49] derekargueta opened #65 "Add Markdown versions of documentation."
Enable people to view documentation in-browser without having to download the .doc files and open Microsoft Word.

[2015-06-10 12:39] rsial2 commented on #65
Sorry but I have to keep it in .doc format for NASA.

[2015-06-10 12:39] #65 closed

[2015-06-10 13:53] rsial2 commented on #64
@coderReview, do you agree with this assessment?

[2015-06-10 14:39] coderReview commented on #64
@rsial2 I see no problem in ignoring these files. They are user related and recreated when the Xcode project is open.

[2015-06-10 14:46] rsial2 commented on #64
Thanks, I've approved the merge request and will test.

[2015-06-10 14:46] #64 closed

[2015-06-10 14:54] rsial2 commented on #48
@derekargueta, the prompt now states "when it's available.it's available". Please change it to "when it's available."

[2015-06-10 15:25] derekargueta commented on #48
@rsial2 woops, forgot to delete a line. Opened up a new PR with that fix, and also with a generic .gitignore file for the project to ignore all user-specific data from git tracking.

[2015-06-12 14:59] rsial2 commented on #48
Looks good, thanks!

[2015-06-12 14:59] #48 closed

[2015-06-12 15:02] rsial2 opened #67 "Nutrient Intake Progress UI Issue"
Paulo, found two issues with the Nutrient Intake Progress

1. There's extra text appearing:
![image](https://cloud.githubusercontent.com/assets/5807576/8132831/6e3718d0-10f2-11e5-8ec6-d224d117d1ab.png)
![image](https://cloud.githubusercontent.com/assets/5807576/8132844/7dcebd16-10f2-11e5-8ed8-5e088d347593.png)

2. If you tap this section, it'll move off the screen and then back.
![image](https://c

[2015-06-25 17:13] szwart commented on #61
Can you clarify this?  We were under the impression that if the DB changes at all, the app constantly syncs to it and thus new foods or deleted foods will be reflected.

[2015-06-25 17:24] rsial2 commented on #61
Sure, what this means is if a developer or someone who has access to the database clears the entire database of all data and then uploads the data again (but not through the admin tool) - if in the event that happens, that app won't accept the new data.

But this is an edge-case. If someone is using the admin tool, and does a bulk upload into the admin tool, or manually deletes foods in the admin

[2015-06-25 17:31] szwart commented on #61
Would this change the functionality of the app at all?  Would this fix mean that every time we open the app, we will see the "Loading..." bar which takes up to 5 min?  We definitely don't want to have to wait that long each time we open the app on the ground.  We are leaning away from this fix as it seems pretty remote.

[2015-06-25 17:42] rsial2 commented on #61
Nope, nothing changes for the user. The loading bar is still going to occur every time you install the app (but only when you install the app).

This is just in case anyone ever accidentally deletes the entire database of foods. If that happens, it would require users to delete the app and re-install the app to get the data to re-load.

[2015-06-25 17:54] szwart commented on #61
OK - we are fine pressing without completing this optional fix.

[2015-06-25 17:54] #61 closed

[2015-06-29 17:27] szwart opened #69 "Daily Intake Report"
When a voice recording or picture is taken, the grey bar that reads "Nutrient Data Pending Ground Uplink" needs to be changed to "Data will be incorporated into ground analysis"

[2015-06-29 17:29] rsial2 commented on #69
@szwart, can we capitalize the first letter of each word? That'll match how we do thing elsewhere in the app.

[2015-06-29 18:33] szwart commented on #69
Yes! That works.

On Jun 29, 2015, at 12:29 PM, Rashid Sial <notifications@github.com<mailto:notifications@github.com>> wrote:

@szwart<https://github.com/szwart>, can we capitalize the first letter of each word? That'll match how we do thing elsewhere in the app.

—
Reply to this email directly or view it on GitHub<https://github.com/NASA-Tournament-Lab/NTL-ISS-Food-Intake-Tracker/issues/69#issue

[2015-07-02 16:29] rsial2 commented on #69
Fixed.

[2015-07-02 16:29] #69 closed

[2015-07-02 16:29] rsial2 commented on #67
Fixed.

[2015-07-02 16:29] #67 closed

[2015-08-04 17:22] rsial2 opened #73 "Photos Not Loading"
1. While on the Profile Edit page, if you select a photo and save it, nothing will occur. There is no prompt that the profile edit has been saved.

2. If you select Cancel while on the Profile Edit page, this error occurs:
![image](https://cloud.githubusercontent.com/assets/5807576/9067474/acab369a-3aab-11e5-9d39-69429208efe8.png)

3. If you go to the iPad app, no profile photos are loading.
![ima

[2015-08-04 18:52] coderReview commented on #73
@rsial2 , will check it out.

[2015-08-04 18:56] rsial2 commented on #73
Thanks Paulo.

[2015-08-05 08:58] coderReview commented on #73
Hi, I've found the issue. It's related to the change of database user. Since it's no longer a database superuser the function to import the image file is failing. Working to fix that. Thanks

[2015-08-05 14:28] rsial2 commented on #73
Thanks, please let me know once it's fixed.

[2015-08-05 17:57] szwart commented on #73
Is this fix going to change the code for the app at all?  Or will it change the code for the Admin Tool?  Or both?

From: coderReview [mailto:notifications@github.com]
Sent: Wednesday, August 05, 2015 3:58 AM
To: NASA-Tournament-Lab/NTL-ISS-Food-Intake-Tracker
Subject: Re: [NTL-ISS-Food-Intake-Tracker] Photos Not Loading (#73)

Hi, I've found the issue. It's related to the change of database user.

[2015-08-05 18:55] coderReview commented on #73
Only the admin tool. I have to change how the uploaded image is saved to the Database.

[2015-08-06 13:50] rsial2 commented on #73
@coderReview, can you commit a fix today please?

[2015-08-06 18:24] coderReview commented on #73
Yes

[2015-08-07 16:07] rsial2 commented on #73
Fixed

[2015-08-07 16:07] #73 closed

[2015-09-21 15:23] rsial2 opened #80 "Apache Basic Communication"
Please modify the app to use Apache basic authentication.

We recognize that the use of Node.js is central to FIT.

Perhaps you could proxy authentication for Node.js by implementing the mod_proxy module in Apache.

[2015-09-21 15:24] rsial2 opened #81 "PostgreSQL Connections"
PostgreSQL should accept connections only from localhost, and not from clients (regardless of client type - SSC Clients, iPad, etc.)

FIT appears to make connections from the iPad directly to PostgreSQL.

We're asking that FIT only have its LS1 components connect database, and that the iPad app not directly connect to it.

[2015-09-21 15:25] rsial2 opened #82 "Deployment Guide Updates"
Related to #81 the FIT Deployment Guide appears to have 2 PostgreSQL-related settings that are misconfigured:

host    pl_fit  pl_fit_db       0.0.0.0/0       md5

listen_addresses = '*'                  # what IP address(es) to listen on;

These settings both tell PostgreSQL to accept connections from any host.

Please fix this. Please also make any required adjustments to the deployment guide, a

[2015-09-21 16:44] coderReview commented on #80
@rsial2 , I need more details here. We are not using apache at all in this application. Postgres database is used to hold the encrypted password used for the FIT adminstration site. I could use [Passport](http://passportjs.org/) which is more robust authentication middleware for Node.js. But it will still rely on the postgres database to hold the encrypted password. We can consider also moving the

[2015-09-21 16:45] rsial2 commented on #80
I'm on it!

[2015-09-21 16:50] coderReview commented on #81
iPad cannot synchronize without PostgreSQL database. I don't understand the network architecture so I don't know what changes to make here.

[2015-09-21 16:53] coderReview commented on #80
Just to let you know. Passport have support for HTTP basic or digest authentication methods.

[2015-09-23 15:54] #81 closed

[2015-09-23 15:54] #80 closed

[2015-11-18 17:14] rsial2 commented on #82
FYI @coderReview, don't forget about this one.

[2015-12-05 01:34] coderReview commented on #82
This is fixed already. Please close it. Thank you

[2015-12-05 18:12] #82 closed

[2016-01-07 18:50] rsial2 opened #97 "Round 9 - Snap Photo / Show All Photos"
1. Launch the app and login
2. click on camera icon and choose "Snap photo"
3. Click on "Show all photos"
4. Observe

Actual:

it redirects to summary page.

Expected:

it should show the Photo gallery page.

[2016-01-07 20:14] coderReview commented on #97
This is the expected behavior. I will hide the button when you can'take click on them.

[2016-01-07 20:16] coderReview commented on #97
@rsial2 maybe you should assign it to me.

[2016-01-07 21:33] szwart opened #98 "Round 9 - Today's Nutrient Intake Progress"
When user swipes to the left, the pie chart is displayed for carbs/protein/fat.  We noticed that the pie chart appears black when opened on an iPad Air but looks like the normal colors when viewed on iPad 2 or 3.  Any ideas why this might be?

[2016-01-07 21:38] szwart opened #99 "Round 9 - Voice Recording"
1. Login
2. Press voice recording
3. Record message 2 min (we let it time out)
4. Click done
5. On the Daily Intake Report, click on the voice recording and click play
6. Voice playback will start...
4. Press Logout
Observation: playback continues to occur even after the user has logged out.
Expected result:The playback should stop after logout.

[2016-01-07 21:46] rsial2 commented on #97
Sorry @coderReview, I meant to assign it to you. Please proceed with the fix.

@szwart, FYI.

[2016-01-07 21:47] rsial2 commented on #98
Thanks Sara, we will find out why, and fix it.

[2016-01-07 21:47] rsial2 commented on #99
Thanks Sara, we'll fix this.

[2016-01-12 23:10] #97 closed

[2016-01-12 23:10] #99 closed

[2016-01-12 23:10] #98 closed

[2016-02-25 17:53] cflottorp opened #102 "Admin Tool Configuration"
Admin Tool needs to be configured to run at system boot possibly via an init script

[2016-02-25 18:05] cflottorp opened #103 "Postgres Access"
Does the FIT iPad App need to directly access Postgres?

[2016-02-26 14:23] coderReview commented on #102
The 0100_fit already set up Nodejs to always start during boot after apache has been started.

[2016-02-26 14:41] cflottorp commented on #102
Confirmed and completed issue.

[2016-02-26 14:42] rsial2 commented on #102
Thanks @cflottorp, I'll close this issue.

[2016-02-26 14:42] #102 closed

[2016-02-26 14:58] coderReview commented on #103
Yes. It does. But it can be done using VPN or using an intermediate box with SSH or another secure connection to work as gateway.

[2016-03-02 04:03] rsial2 commented on #103
@cflottorp, are we good on this?

[2016-03-04 22:30] cflottorp opened #104 "Variable Repetition in Script"
In the FIT script itself, for ease of maintainability, avoid the repetition of the variables in the script. Desired completion date of 3/21/16

[2016-03-04 22:32] cflottorp opened #105 "Postgres vs Debian Commands"
In the FIT script, use Debian commands instead of the Postgres general functions presently in the script.  Examples to use are pg_dropcluster and pg_createcluster.  Desired completion date of 3/21/16

[2016-03-04 22:35] cflottorp opened #106 "Echoing of Passwords"
Possible unnecessary echoing of the passwords used within the FIT script.  Delete unnecessary echoing of passwords.  Desired completion date: 3/21/16

[2016-03-04 22:37] cflottorp opened #107 "Admin Account Privs"
In the FIT script, remove the Administrator account privileges after the initial connection has successfully been made for the  Postgres database. Desired completion date: 3/21/16

[2016-03-04 22:39] cflottorp opened #108 "Architecture Update"
Modify the architecture of the communication/access between the FIT iPad app to the Postgres to function with an intermediary webserver instead of directly accessing the Postgres. Desired completion date: June 2016

[2016-03-04 22:41] cflottorp opened #109 "Password Change"
Future enhancement to reveal the password at initial access/connection of the FIT iPad app to the server.

[2016-03-06 00:43] #103 closed

[2016-03-06 00:44] rsial2 commented on #109
Future enhancement to reveal the password at initial access/connection of the FIT iPad app to the server.

[2016-03-06 00:45] rsial2 commented on #104
In the FIT script itself, for ease of maintainability, avoid the repetition of the variables in the script. Desired completion date of 3/21/16

[2016-03-07 07:03] coderReview commented on #106
Since the password is randomly created how do you suggest to output the generated passwords?

[2016-03-07 15:21] coderReview commented on #108
To understand the solution:
1- Develop a webservice with an API to communicate with the Postgres database.
2- Modify the iPad application to work with the webservice instead of the Postgres database.

[2016-03-07 20:38] rsial2 commented on #106
No we do not have a better suggestion at this time.  Long term, the need to output the FIT Postgres DB admin account password should go away once the web service is implemented for the FIT iPad App and Postgres to interact with.  If it's decided that the web service is more long term than we should be OK buying off the risk of having the the password echo'd to the terminal in the near term. This w

[2016-03-07 20:39] rsial2 commented on #108
Yes, concur that is the change we're requesting.

[2016-03-10 21:49] cflottorp opened #110 "LS1 Script Connectivity Issues"
Connectivity issues running with the LS1 FIT server script for Admin Tool when the iPad app has been installed. Possible communication issue between nodejs and Apache during the initialization of the  Admin Tool configuration.  Logfile with error will be sent to assist in the investigation process.

[2016-03-11 02:10] callmekatootie commented on #110
@rsial2 You have wrongly tagged me here

[2016-03-11 02:12] rsial2 commented on #110
Sorry @callmekatootie, I will fix this.

[2016-03-14 01:12] coderReview commented on #110
@cflottorp I didn't understand this issue. iPad application does not need admin tool running to work. Only Postgresql database server.

[2016-03-14 15:44] cflottorp commented on #110
Something happened between when the script was run setting up the database server and when we wanted to input the data using the Admin tool.  Since both the Admin Tool and our App Portal are on the same server and they use Apache and that we couldn't access them afterwards.  We thought there was an permission or connectivity issue with Apache when the script was run.  we also noticed that nodejs t

[2016-03-14 16:24] briandmartin commented on #110
I installed the FIT Admin Tool on ls1 and it was running.  I could access the Admin Tool from a browser it looked fine.  I moved ls1 to another lab and then the FIT Admin Tool would no longer run.  Nothing happened in between that time.  Just a few reboots.  The Node.JS init.d script reported it was running but the webpage would not serve and the FIT iPad app would not run.  I don't know what the

[2016-03-14 16:27] rsial2 commented on #110
@coderReview - please see the feedback above. Please confirm that you've reviewed the logs as well.

[2016-03-14 16:46] coderReview commented on #110
The nodejs script was updated. Now it is starting correctly during boot. Was the test done wih the new version of the script?
Run 'ps ax|grep node' to be sure the admin tool is running.

[2016-03-14 18:48] briandmartin commented on #110
Below is the the md5 checksum of the version of nodejs init.d script we tested with.

Tomorrow at 09:00 AM Central, the Payloads team is coming to the SSC Lab to test FIT.  Today, I'm doing the ls1 FIT install to prepare for their test.  The "ps ax|grep node" suggestion is helpful, thanks I'll note that.  However, the ls1 we tested FIT on last time has been reloaded to fajita configuration to prep

[2016-03-14 20:30] rsial2 commented on #110
Thanks Brian. We will wait to hear back from you regarding the deployment with the new script.

[2016-03-15 16:08] rsial2 commented on #110
@briandmartin how did the re-test go?

[2016-03-15 16:33] cflottorp commented on #110
The FIT Admin Tool appears to accept imports of food data and user data.  However we have a problem with Apache after loading FIT server script,  Apache is crashing and seems to be over taking all other app machine to machine account authentications.  All other apps on the iPad receive a HTTP 401 error and we couldn't access them afterwards. Previous authentications and passwords were broken. All

[2016-03-15 17:33] briandmartin commented on #110
@rsial2 @coderReview I made two changes to the FIT install script.  I gave a copy to @cflottorp and she's going to send you two the script.
1.) Change from:
SP_BACKUP=/admin/enchilada
to:
SP_BACKUP=/admin/fajita

This was because the FIT integration is being scheduled for fajita SP and no longer in the enchilada SP.

2.) I commented out these two lines of code:

#usermod -a -G sasl ${ACCT}
#echo $

[2016-03-15 19:39] coderReview commented on #110
@briandmartin ok. You just need to set the pl_fit account password to the one generated by the script. I will look into the logs to see if I can find ot what is causing the issues with apache.

[2016-03-15 22:35] briandmartin commented on #110
@coderReview actually, both the "usermod" and "echo ... | chpasswd" commands are commented out so the script doesn't actually create the account or set its password.  Both of those two steps are handled by AMT.  Of course, like I said, you can just uncomment them out to test and that's fine and you don't have to have AMT on your dev/test instance.

[2016-03-16 16:15] coderReview commented on #110
@briandmartin Please change the line 1 in file /etc/apache2/sites-available/pl_fit-ssl to look like this:
<VirtualHost *:443>

If that solves the issue I will update the fit script and send it to @rsial2.

[2016-03-16 17:35] briandmartin commented on #110
@cflottorp @coderReview @rsial2 Yes, that did work!  All 3 apps I tested worked in that config: FIT, Portal and iSHORT.

[2016-03-16 18:56] briandmartin commented on #104
The latest delivery of FIT addresses this issue and concur with closing this issue.

[2016-03-16 18:57] #104 closed

[2016-03-16 18:57] #110 closed

[2016-03-16 18:57] briandmartin commented on #107
The latest delivery of FIT addresses this issue and concur with closing this issue. @rsial2

[2016-03-16 18:58] briandmartin commented on #105
@rsial2 The latest delivery of FIT addresses this issue and concur with closing this issue.

[2016-03-16 18:59] briandmartin commented on #106
The latest delivery of FIT addresses this issue and concur with closing this issue.

[2016-03-16 19:09] #107 closed

[2016-03-16 19:09] #105 closed

[2016-03-16 19:09] #106 closed

[2016-03-18 18:53] szwart opened #111 "Round 10 - Food Inventory"
We have noticed that whenever we have a food item in the data.csv file that is deleted (indicated by a YES in the Deleted column), then the second entry for that food item that is not deleted (indicated by a NO in the Deleted column) appears twice in the Food Inventory.  Example: Pork w/Potatoes appears twice in the Food Inventory.

[2016-03-18 19:02] szwart opened #112 "My Recorded Foods"
When the "All" filter is selected under My Recorded Foods in the Food Inventory, all foods in the entire food database are listed instead of only that crewmember's recorded foods.  It should only list all foods that crewmember has ever recorded.

[2016-03-18 19:13] szwart opened #113 "Round 10 - Food Inventory"
1. Log in
2. Click Add Food (inventory button)
3. Search for Pork w/Potatoes in the search foods area at the top of the screen.
4. There is a message that comes up telling me that food is not in the inventory...but it is in the inventory.
5. Search for that food item using the search/pencil icon on the Daily intake Report screen and it will appear.

That food item should appear in the Food Invento

[2016-03-21 16:53] coderReview commented on #113
Was this search made after this item was deleted?

[2016-03-21 16:59] szwart commented on #113
The item had already been deleted in the data.csv file when we performed the search.   This happened for any food item that is listed as deleted in the data.csv file (this was not unique to the Pork w/Potatoes - that was just one example).  We are wondering if an easy fix would be to just delete the entire row of food in the data.csv file that was intended to be deleted.

[2016-03-21 18:26] coderReview commented on #113
Actually the issue is in search/pencil icon on the Daily intake Report screen. This search should not return deleted food items.
If you delete the row from the Data.csv file it won't be possible to determine if the food item was deleted or not.
Could you share the data.csv with the food after they were deleted?

[2016-03-21 19:31] szwart commented on #113
Here is our data.csv file.  Please note this is confidential - please do not share with the entire TopCoder community.  Thanks!

From: Paulo Vitor Magacho [mailto:notifications@github.com]
Sent: Monday, March 21, 2016 1:26 PM
To: NASA-Tournament-Lab/NTL-ISS-Food-Intake-Tracker
Cc: Zwart, Sara (JSC-SK)[UNIVERSITIES SPACE RESEARCH ASSOC-DIV OF SPACE LIFE SCIENCES]
Subject: Re: [NTL-ISS-Food-Intake-T

[2016-03-21 19:33] coderReview commented on #113
Hi,
The file was not attached to the email.
Thanks
Paulo

Em Seg, 21 de mar de 2016 16:31, szwart <notifications@github.com> escreveu:

[2016-03-21 19:36] szwart commented on #113
It’s saying I can’t attach a .csv file.  Can I email it to you directly?

From: Paulo Vitor Magacho [mailto:notifications@github.com]
Sent: Monday, March 21, 2016 2:34 PM
To: NASA-Tournament-Lab/NTL-ISS-Food-Intake-Tracker
Cc: Zwart, Sara (JSC-SK)[UNIVERSITIES SPACE RESEARCH ASSOC-DIV OF SPACE LIFE SCIENCES]
Subject: Re: [NTL-ISS-Food-Intake-Tracker] Round 10 - Food Inventory (#113)

Hi,
The file

[2016-03-21 19:37] coderReview commented on #113
Yes. No problem.
Thanks

Em Seg, 21 de mar de 2016 16:36, szwart <notifications@github.com> escreveu:

[2016-03-21 19:40] rsial2 commented on #113
Just a reminder folks that this Github project is public, please do not post anything to Github that you wouldn't want made public, including the referenced CSV file above :)

Emailing the files will work tho :)

[2016-03-23 18:51] coderReview commented on #111
@szwart Was the file you've sent me loaded in an empty database or did you load a previous file? I see that you have lot of duplicated entries with YES and NO deleted columns. If you want to update a food you don't need to delete it first. Just update the values in the existing row.

[2016-03-23 18:55] szwart commented on #111
Whenever we get a new formulation of an existing food (or whenever the package size is changed), we create a new line and type YES in the deleted column for the outdated food item.

In the future, should we never have 2 identical food names even though one is deleted?

From: Paulo Vitor Magacho [mailto:notifications@github.com]
Sent: Wednesday, March 23, 2016 1:52 PM
To: NASA-Tournament-Lab/NTL-IS

[2016-03-23 20:29] coderReview commented on #111
@szwart When I've developed the application the idea was to update the existing row. However, it doesn't mean that having more rows related to one Food item won't work. In theory, the only restriction is that the new entry are after (below) the old entries for a given Food item. I will simulate this scenario and will give you a feedback.

[2016-03-23 21:20] coderReview commented on #113
I see that you mention in the issue text "Pork w/Potatoes" without a space between the slash and Potatoes. However the food name is "Pork w/ Potatoes". I've made some tests and could not reproduce this issue. I've loaded the file without any food deleted. There 745 food items. I then applied the sent csv file. The result count is 740 food items.

[2016-03-23 21:21] coderReview commented on #111
I've made some tests and could not reproduce this issue. Only one item is listed.
I've loaded the file without any food deleted. There 745 food items. I then applied the sent csv file. The result count is 740 food items.

[2016-03-23 21:32] szwart commented on #113
So when you type Pork w/ Potatoes after selecting the Pencil/search icon, you don’t see two entries for that item?  I’m seeing two entries in the drop down box that appears when I am typing those words, and when I select either one, it lists the one with 385 calories in the Daily Intake Report (which is the one that is not deleted in the data.csv file).  So, it’s selecting the right one…I’m just n

[2016-03-23 22:19] coderReview commented on #113
How many food items do you have in Admin Tool? Are there 740? This is number of food items if you apply the file you sent to me.

[2016-03-23 22:20] coderReview commented on #113
I don't see duplicated entries.

[2016-03-24 04:15] coderReview commented on #112
This issue was fixed.

[2016-03-24 04:20] coderReview commented on #113
@szwart could you give me the exact details on how you load the food data? You can send me by email, with any other file you have used.
What I did on my side was:

1- Remove all entries with removed marked as YES.
2- Loaded the modified file. Number of records: 745.
3- Open iPad app and check the data. Only one record for Pork w/ Potatoes.
4- Loaded the original file. Number of records: 740.
5- Op

[2016-03-25 13:03] szwart commented on #113
Paulo,

I just deleted all of the entries marked as YES in my data.csv file.  Then uploaded the modified file (the file contains 745 entries).  Then, when I go to the Food Data tab, the bottom line of that screen says there are 1098 entries.  I typed “Pork w” in the Filter records box, and now there are 4 Pork w/ Potatoes showing up.  There are 2 with a space after w/ and 2 without that space.  I’

[2016-03-25 13:21] rsial2 commented on #113
We need to fix it so duplicates do not occur. Deleting all foods before bulk upload is not a best practice, has it may delete foods that are added on ad hoc basis

[2016-03-25 13:35] szwart commented on #113
Not sure if it helps, but we will always be adding foods using the bulk import function and not by adding on ad hoc basis, as that allows us to keep an inventory of what foods we have uploaded without looking them up individually.

From: Rashid Sial [mailto:notifications@github.com]
Sent: Friday, March 25, 2016 8:21 AM
To: NASA-Tournament-Lab/NTL-ISS-Food-Intake-Tracker <NTL-ISS-Food-Intake-Tracke

[2016-03-25 13:53] coderReview commented on #113
What could be happening is that the name/origin are not exactly the same. The script that updates the data look for existing entry with exact name/origin after removing trailing spaces. If an entry already exists it will update this entry otherwise a new row will be inserted in the database. If you have a name with an space after the / and one without that will treated as two different food items.

[2016-03-25 13:56] coderReview commented on #113
@szwart when you uploaded the file without the removed items, there were some data inside the database. Could you try repeating your steps on a clean database?

[2016-03-25 13:58] szwart commented on #113
Copy.  However, I just bulk imported a data.csv file (after removing any foods marked as YES), and there are still 4 versions of that Pork w/ Potatoes in the food tab of the Admin Tool even though there is only 1 in the data.csv file.

From: Paulo Vitor Magacho [mailto:notifications@github.com]
Sent: Friday, March 25, 2016 8:53 AM
To: NASA-Tournament-Lab/NTL-ISS-Food-Intake-Tracker <NTL-ISS-Food-I

[2016-03-25 14:00] szwart commented on #113
Sure…are you saying use a blank data.csv file?  Otherwise I don’t know how to clean the database that is already loaded in the Admin Tool.

From: Paulo Vitor Magacho [mailto:notifications@github.com]
Sent: Friday, March 25, 2016 8:56 AM
To: NASA-Tournament-Lab/NTL-ISS-Food-Intake-Tracker <NTL-ISS-Food-Intake-Tracker@noreply.github.com>
Cc: Zwart, Sara (JSC-SK)[UNIVERSITIES SPACE RESEARCH ASSOC-DIV

[2016-03-25 16:25] coderReview commented on #113
Did Brian setup the database? Maybe he can help cleaning the database. Otherwise I can provide a script to delete everything. You would have to reinstall the iPad app.

[2016-03-25 16:28] rsial2 commented on #113
Paulo, FYI Sara is testing in our test environment,not the one Brian setup.

Sara please let me know if i'm wrong.

[2016-03-25 16:32] szwart commented on #113
You are correct Rashid – I’m using your test environment.

From: Rashid Sial [mailto:notifications@github.com]
Sent: Friday, March 25, 2016 11:29 AM
To: NASA-Tournament-Lab/NTL-ISS-Food-Intake-Tracker <NTL-ISS-Food-Intake-Tracker@noreply.github.com>
Cc: Zwart, Sara (JSC-SK)[UNIVERSITIES SPACE RESEARCH ASSOC-DIV OF SPACE LIFE SCIENCES] <sara.zwart-1@nasa.gov>
Subject: Re: [NTL-ISS-Food-Intake-Track

[2016-03-25 17:50] coderReview commented on #113
@rsial2 my bad. I will clean it up then. Will let you know once I've finished.

[2016-03-25 18:54] coderReview commented on #113
@szwart, @rsial2 database has been cleaned up. Do the following:

1- Reinstall iPad app.
2- Remove all entries with removed marked as YES.
3- Loaded the modified file. Number of records: 745.
4- Open iPad app and check the data. Only one record for Pork w/ Potatoes.
5- Loaded the original file. Number of records: 740.
6- Open iPad app and check the data. Only one record for Pork w/ Potatoes.

Than

[2016-03-25 20:01] cflottorp opened #115 "LS1 Server Script - Account Use"
In the LS1 Server Script (0100_fit), update the script for the Admin Tool to be executing under the FIT generated account, pl_fit, instead of the root account.

[2016-03-28 13:10] szwart commented on #113
Paulo,

This worked.  I’m seeing 745 foods in the Admin Tool and no duplicates when I scroll through the food inventory.

So from now it sounds like we should not have food items with the same name on different lines even though one may be marked with a YES and one with a NO.  Did you have to update any code, or can we fix this purely from the data.csv file and getting rid of the foods marked as Y

[2016-03-28 13:31] coderReview commented on #113
@szwart There was no need for code change.

The test database was not in good state (too many tests were done) and had some food items with similar names but with some extra spaces.

Since you have successfuly uploaded the file with no food marked with YES, you can now try the original CSV file you've sent me. You don't need to remove the rows with YES from the file. You just need to make sure tha

[2016-03-28 16:00] szwart commented on #113
Paulo,

I bulk imported the CSV file with some foods marked as YES, and it worked!  There are no duplicates in the app or in the Admin Tool.

Thanks!!
Sara

From: Paulo Vitor Magacho [mailto:notifications@github.com]
Sent: Monday, March 28, 2016 8:31 AM
To: NASA-Tournament-Lab/NTL-ISS-Food-Intake-Tracker <NTL-ISS-Food-Intake-Tracker@noreply.github.com>
Cc: Zwart, Sara (JSC-SK)[UNIVERSITIES SPACE R

[2016-03-28 17:09] MargaretAKlee opened #116 "Automatically Generate ISS FIT Reports"
We need to be able to schedule the generation of ISS FIT reports so the reports can generated on a specified frequency. Path information, report type and report schedule shall be read from a configuration file co-located with the function.

[2016-03-28 17:26] rsial2 commented on #113
Hi @szwart, can you please confirm that I can close this ticket.

[2016-03-28 17:27] rsial2 commented on #111
Hi @szwart, can you please confirm that I can close this ticket.

[2016-03-28 17:28] #113 closed

[2016-03-28 17:29] #111 closed

[2016-03-28 19:11] szwart commented on #112
I tested this, and it's still not working for me.  When I add a few foods to consumption, then go to the Food Inventory and sort by "All", it gives me a note "I'm sorry, but there are no foods that match your filter criteria".  I get the same message if I search by "This week" or "This Month".

[2016-03-28 20:16] szwart commented on #112
Sorry – I think I wasn’t being clear enough.  We like that it will capture ad hoc items, but we would also like it to capture any other foods that user has logged that week, month, or over the course of the mission.

[2016-03-28 20:34] MargaretAKlee commented on #116
Make a Chron function that runs as pl_fit user. Acceptable scripting languages are Pearl, php, and Python

[2016-03-28 20:56] rsial2 commented on #116
@MargaretAKlee, can you please confirm that your comment above is in regards to the primary ask in the description of this ticket - or are they separate?

[2016-03-29 03:17] coderReview commented on #116
@MargaretAKlee The report can be generated for a single user, many users or all users. It can be for the whole time or you can specify the begin and end dates.

So the configuration file would have 3 settings path, users and schedule :

path='path_to_output/

users='Name Name' -- a single user
users='Name Name;Name Name' -- many users
users='*' -- all

schedule='monthly'  -- can be monthly or week

[2016-03-29 15:08] rsial2 commented on #115
@cflottorp this change has been implemented but not committed to Github. The modified files have been sent to you via email.

[2016-03-29 16:27] MargaretAKlee commented on #116
Yes – My comment is a clarification of the original task rather than a new one.

Thanks,

Margaret Klee
margaret.a.klee@nasa.gov<mailto:margaret.a.klee@nasa.gov>
O: 281-483-3609; Personal cell: 713-542-1797

Lockheed Martin Corporation
Information Systems and Global Solutions - Civil
Human Health and Performance Contract

From: Rashid Sial [mailto:notifications@github.com]
Sent: Monday, March 28,

[2016-03-29 16:29] rsial2 commented on #116
@MargaretAKlee please see the new questions above from @coderReview

[2016-03-29 17:32] coderReview commented on #109
@cflottorp could you give more details on what exaclty you want to achieve? How is this related to the architectural change.

[2016-03-29 18:04] MargaretAKlee commented on #109
**reveal the password at initial access/connection of the FIT iPad app to the server**. This is a change to the iPad app unrelated to any of the other changes submitted. The crew member has to enter the FIT machine password on the iPad. The suggestion is to allow the user to reveal the password for the server as it is being entered on the iPad app so the user can verify the correct password is ent

[2016-03-29 18:08] coderReview commented on #109
Right now the password is set in the iPad settings application. I can set it to empty the first time the application is open and make the user type the username/password (with a checkbox to reveal the password). After that you can change it in the iPad settings. Is this ok?

[2016-03-29 18:27] MargaretAKlee commented on #109
Yes

Thanks,

Margaret Klee
margaret.a.klee@nasa.gov<mailto:margaret.a.klee@nasa.gov>
O: 281-483-3609; Personal cell: 713-542-1797

Lockheed Martin Corporation
Information Systems and Global Solutions - Civil
Human Health and Performance Contract

From: Paulo Vitor Magacho [mailto:notifications@github.com]
Sent: Tuesday, March 29, 2016 1:08 PM
To: NASA-Tournament-Lab/NTL-ISS-Food-Intake-Tracker <N

[2016-03-29 18:38] rsial2 commented on #109
Wait, I'm sorry @coderReview & @MargaretAKlee, but I'm not sure if that is okay. We should not be forcing the user to do anything. It needs to work like this:

1. User installs the ISS FIT app
2. User goes to the Apple Settings app.
3. User scrolls to the entry for ISS FIT within with Settings app.
4. The Password value for the "Server" field is masked, meaning it is not visible.
5. It should be v

[2016-03-29 18:47] MargaretAKlee commented on #109
@coderReview<https://github.com/coderReview>, @rsial2, and @szwart

We are talking about the iPad to server machine account for ISS FIT. When FIT is installed on ISS, the default password will not be valid. The password is maintained by the flight operations console folks so the crew member has to enter the password the on the iPad.  The username should be pl_fit or pl-fit (Cheryl do you know whic

[2016-03-29 18:50] rsial2 commented on #109
Ok, in that case I think @coderReview's proposal works.

Does that sound good to you @szwart

[2016-03-29 22:23] MargaretAKlee opened #117 "Automated database update"
One of the console operations experts suggested there should be an automated way to update the ISS FIT database by checking for the existence of a new food or crew file and importing the database if the file exists. The location of the food and crew files needs to be read from a configuration file. If there are other function performed with the Admin Tool we need to look at automation for those fu

[2016-03-29 23:09] rsial2 commented on #117
I'm sorry @MargaretAKlee, I don't understand this change at all. Can you please clarify? I also don't see why we would work around the admin tool, which was created to manage the database of foods.

CC @szwart & @nasarader

[2016-03-30 15:24] rsial2 commented on #112
Hi @coderReview do you have an update on this?

[2016-03-30 18:45] cflottorp commented on #115
Nodejs is failing to start when the Server Script, 0100_fit is run with the changed privileges for the Admin Tool.  The log file and error messages will be e-mailed to you.

[2016-03-30 19:21] rsial2 commented on #115
Thanks @cflottorp.

@coderReview please look into this.

[2016-03-30 20:13] rsial2 commented on #115
Spoke with NASA. They figured the issue out. I'm closing this ticket.

[2016-03-30 20:13] #115 closed

[2016-03-31 03:34] coderReview commented on #112
@rsial2 Sorry for the delay. By noon tomorrow I will have this issue fixed. Thanks.

[2016-03-31 12:53] coderReview commented on #112
Fixed.
@szwart When you try this fix, please remove previous version of the iPad application.

[2016-03-31 20:29] rsial2 commented on #112
Hey @szwart, a new build is ready with this fix. Please delete the old version and reinstall using the new version. Same download link as before :)

[2016-04-04 13:28] #112 closed

[2016-07-28 20:57] szwart opened #136 "Admin Tool"
Before a new food data.csv file is imported, we would like any old foods in the database to be deleted.  We were having issues with duplicate items appearing in the food inventory because of past versions of a food database.  We will never have the need (or ability) to individually modify a single food item.  We will always import an entire food database at once.  All previous versions of the food

[2016-07-28 21:00] szwart opened #137 "Barcode reader"
We are having trouble scanning commercially available items.  One example is a Clif Bar.  Attached is an example of a Clif Bar barcode that we were not able to successfully scan (it indicated that the item was not found).
![clif bar](https://cloud.githubusercontent.com/assets/11872594/17229257/65f931ce-54dc-11e6-85c8-489ddeab0742.JPG)

[2016-08-24 16:11] szwart opened #138 "Data Sync with Admin Tool"
While testing ISS FIT in a ground analog where 4 users used 4 different iPads all syncing to the same server, we noticed that the day 1 data were not all 100% synced on all 4 iPads.  For example, User 1's iPad showed 10 food items were logged but when we went to User 2's iPad and looked at User 1's data, there were only 8 items logged.  When we looked at User 3's iPad and looked at User 1's data,

[2016-08-24 17:28] coderReview commented on #138
@szwart only the 1st day data had issues?
I have a few other questions to help me understand the issue.
Are there clocks correct?
Are they in the same timezone?
Who logged the food records?
Were the sync of the other iPads done on the same day?

[2016-08-24 17:28] coderReview commented on #138
A step by step of how did you test would be nice if possible. Thank you

[2016-08-24 18:19] szwart commented on #138
Yes - all in the same timezone. 4 separate users during the same study while living in a chamber here at NASA.  They each had their own iPads and logged their foods on their own iPads.  They all synced with the server at the same times.  The only way we noticed this was when we were going back to look at nutrient data from the study (they lived in the chamber for 30 days).  One of the iPads had ve

[2016-10-18 16:56] szwart opened #139 "Barcode scanning deletes items in database"
We had a crewmember call down from ISS to report the following issue.  When an item is scanned that is in the database is followed by another scan of an item that is not in the database, the first item is permanently deleted from the food database for that iPad.  The item cannot be found using search functions or barcode anymore.

Here are the steps to recreate the issue:
1.  Barcode scan an item

[2016-10-25 20:14] coderReview commented on #138
@szwart
1- Is there any possibility you could share a dump of the database used during this tests?
2- Just to confirm again, the issue is just with the data in the first day.
Thanks

[2016-10-25 20:24] rsial2 commented on #138
@nasarader can you help with the request above please?

[2016-10-25 20:28] szwart commented on #138
You are looking for the food data file?  Or the user data?  Or both?

[2016-10-25 20:31] coderReview commented on #138
Is the postgresql database still available to you? I need the data from food_product_record, food_product and nasa_users tables - if possible.

[2016-10-25 20:51] rsial2 commented on #138
hi @coderReview, unfortunately @szwart will not be able to directly provide it.

@szwart & @nasarader would be able to speak with the folks who own the database and get us a copy? Please feel free to obfuscate any PII.

[2016-10-26 13:26] szwart commented on #138
FYI - I've requested the data you need from the folks who worked that mission.  I'll keep you posted.

[2016-10-26 21:18] rsial2 commented on #138
Hey @szwart any luck with this? Sorry to rush - but we can't complete delivery until we get it, so we'll need to delay the delivery until we do.

CC @coderReview & @nasarader

[2016-10-27 15:47] szwart commented on #138
No, unfortunately not. Will try to see if anyone else can help.

On Oct 26, 2016, at 4:18 PM, Rashid Sial <notifications@github.com<mailto:notifications@github.com>> wrote:

Hey @szwart<https://github.com/szwart> any luck with this? Sorry to rush - but we can't complete delivery until we get it, so we'll need to delay the delivery until we do.

CC @coderReview<https://github.com/coderReview> & @na

[2016-10-30 22:23] coderReview commented on #137
@szwart The app can detect the barcode, but does not found in database. What is the barcode value inserted in the database?

[2016-10-31 13:30] rsial2 commented on #137
@szwart & @nasarader would you be able to ask someone to check the database and see what value is being stored there?

[2016-10-31 14:27] szwart commented on #137
We have actually tried the bar code a few different ways - one with the leading number 7 and one staring with 2 and one with only the first 4 digits (starting with 7) b/c we were under the impressing it's only reading the first 4 digits of all barcodes (is that correct?).  The app successfully scans the barcode, but it indicates that the food is not found in the database.

[2016-10-31 14:28] szwart commented on #137
Oops - sorry, didn't mean to close this thread.

[2016-10-31 14:31] rsial2 commented on #137
Thanks Sara.

@coderReview please review.

[2016-10-31 15:08] coderReview commented on #137
@szwart
when the barcode is not found in the database a popup is shown with the barcode that the iPad has detected. I've tried using the barcode in the image and I had no problem getting the correct barcode. Is there any possibility you try again and check the barcode that is displayed in the popup?

[2016-10-31 15:09] coderReview commented on #137
One thing to notice is that when a barcode is scanned it's compared to the device's local database. So you need to make sure that the food being scanned has been synchronized with the iPad device.

[2016-10-31 15:27] szwart commented on #137
I think we must be having issues with the device's local database connecting/synchronizing with the database on the server.  We've also noticed that when we add a new food item to the data.csv file and upload it to the server using the Admin Tool (in a test environment), that item did not show up on our iPads for the food we were testing.  If we can delete the old data.csv file before loading a ne

[2016-10-31 15:50] coderReview commented on #137
@szwart
ok. I think this issue is treated in another ticket. Are the issue with the barcode with foods added after the initial load done by the iPad devices?
Anyway, I've updated the barcode library to its newest version that also supports iOS 10.

[2016-10-31 15:53] szwart commented on #137
OK.  We already have a ticket to request that the old data.csv file be deleted before importing a new one.  The barcode issues have in fact been after the initial load.
Just curious - is the barcode reader only recognizing the first 4 digits?  Or the entire barcode?

[2016-10-31 15:55] coderReview commented on #137
It's recognizing all barcode, but when matching to the database it uses only the 4 starting digits (this was in the original requirement).

[2016-10-31 15:56] szwart commented on #137
Got it - thanks!

[2016-11-03 22:25] rsial2 commented on #137
@szwart confirmed that this was fixed via email. Closing this issue.

[2016-11-03 22:25] #137 closed

[2016-11-05 00:06] rsial2 commented on #108
Replacing this ticket with a new ticket based on information from the task order.

[2016-11-05 00:06] #108 closed

[2016-11-05 00:07] rsial2 commented on #109
Replacing this ticket with a new ticket based on information from the task order.

[2016-11-05 00:07] #109 closed

[2016-11-05 00:07] rsial2 commented on #117
Replacing this ticket with a new ticket based on information from the task order.

[2016-11-05 00:07] #117 closed

[2016-11-05 00:07] rsial2 commented on #116
Replacing this ticket with a new ticket based on information from the task order.

[2016-11-05 00:07] #116 closed

[2016-11-05 00:13] rsial2 opened #141 "Admin Tool Updates [Delete functionality]"
Add a function to the Admin Tool for Maintenance of the Postgres data for the ISS FIT SQL database to delete records from the database. Specifically:

1. Given the following conditions:
1.1 The user is flagged data for deletion (isDeleted property = YES)
1.2The data has been processed (added to the server/downloaded from iPad (i.e. synchronized))
1.3The data has been sent to the ground (report gen

[2016-11-05 00:14] rsial2 opened #142 "Automated Import of Files"
Automate the import of files (food, crew and crew photos). Crew photo should automatically be linked to crew (require no action in Admin tool.)

[2016-11-05 00:14] rsial2 opened #143 "iPad Database Settings"
Change the iPad Database settings to allow the use of a designated name (“ls1”) or IP address.

[2016-11-05 00:15] rsial2 opened #144 "Food Data CSV Upload"
When importing a new food data.csv file, automatically delete the old version first. We are having too many issues with duplicate food items appearing after importing a new food data file.  We will always be uploading a complete data.csv file and never just a few foods at a time.  Also, take away the function of the column in the data.csv file that indicates Deleted=YES or NO.

[2016-11-05 00:15] rsial2 opened #145 "Food Inventory Update"
In the Food Inventory, change the order of the Supplements line so that it is one section higher (before favorite foods) and appears on the main Inventory screen without having to scroll down to see it.

[2016-11-05 00:15] rsial2 opened #146 "Admin Tool Reporting Update"
Add a function to the Reports within the Admin Tool that will pull a report of calories, sodium, fluid, protein, carbs, fat in addition to the raw food data.

[2016-11-05 00:16] rsial2 opened #147 "Open Source Code / Third Party Library Update"
Update any included open Source code with latest/specific version.

[2016-11-05 00:17] rsial2 opened #148 "Architecture Document Update"
Update the architecture document based on all changes made during round 12.

[2016-11-05 00:18] rsial2 opened #149 "Deployment Guide Update"
Update the deployment guide based on all changes made during round 12.

[2016-11-07 15:44] szwart commented on #139
This looks like it's getting better... if I scan a barcode that is in the database then scan 2-3 more items in the database and then try to scan another one that is not in the database, it tells me that item is not in the database and I click ok.  Then I click OK. There are no options on the screen to do anything at that point.  The only way to get out of that screen is to click one of the tabs at

[2016-11-07 18:48] rsial2 commented on #139
@coderReview please work on this.

[2016-11-07 18:49] rsial2 commented on #138
@coderReview were you able to continue working on this, or do you still need the database dump?

[2016-11-07 22:04] coderReview commented on #139
@szwart can you post a screenshot?

[2016-11-07 22:31] coderReview commented on #139
@rsial2 I've made a push request to improve the barcode scanning.
@szwart see if it's working better.

[2016-11-07 22:53] rsial2 commented on #139
@coderReview I don't see the updated code in the repo. But I'm assuming you built it locally and published the .ipa to Hockeyapp? If yes, can you confirm?

@szwart, if Paulo confirms that the latest app has been pushed to Hockeyapp, here's what you need to do:
1. Go to your iPad and click on the HockeyApp app icon.
2. It opens Safari
3. Click on the ISS FIT logo
4. Under Latest Versions, click on

[2016-11-07 22:54] rsial2 commented on #139
@szwart you should have received an email from Hockeyapp with a link to install the latest version of the app.

[2016-11-08 10:43] coderReview commented on #138
I was able to finish this. I've implemented a fix looking at how the code is working right now.
The best way to test it is to have all 4 existing users in our test environment using the application at the same time for 30mins. Do you think we can try that out?

[2016-11-08 13:19] szwart commented on #139
Yes, I have the new build and will take a look now…

Thanks!
Sara

From: Rashid Sial [mailto:notifications@github.com]
Sent: Monday, November 07, 2016 4:54 PM
To: NASA-Tournament-Lab/NTL-ISS-Food-Intake-Tracker <NTL-ISS-Food-Intake-Tracker@noreply.github.com>
Cc: Zwart, Sara (JSC-SK)[WYLE LABORATORIES, INC.] <sara.zwart-1@nasa.gov>; Mention <mention@noreply.github.com>
Subject: Re: [NASA-Tournamen

[2016-11-08 13:23] szwart commented on #138
I’m up for trying that.  I will be at my desk most of the day.

From: Paulo Vitor Magacho [mailto:notifications@github.com]
Sent: Tuesday, November 08, 2016 4:43 AM
To: NASA-Tournament-Lab/NTL-ISS-Food-Intake-Tracker <NTL-ISS-Food-Intake-Tracker@noreply.github.com>
Cc: Zwart, Sara (JSC-SK)[WYLE LABORATORIES, INC.] <sara.zwart-1@nasa.gov>; Mention <mention@noreply.github.com>
Subject: Re: [NASA-Tou

[2016-11-08 15:24] coderReview commented on #138
@szwart
Due to timezone difference I am only available after 6pm EST.

[2016-11-08 15:54] szwart commented on #138
Are you available tomorrow at all?

[2016-11-08 15:54] szwart commented on #139
Looks like this is fixed!

[2016-11-08 15:54] #139 closed

[2016-11-08 15:55] coderReview commented on #138
@szwart
Also, only after 6pm EST.

[2016-11-08 16:01] szwart commented on #138
OK.  I can be available after 6:30pm EST today, or after 6pm EST tomorrow.  Do we have 2 other users that could be available?  Holly is not available in the evenings.  I can load to my home iPads if needed...

[2016-11-08 16:03] coderReview commented on #138
@szwart
I can run in my device and simulator at the same time.

[2016-11-08 16:08] szwart commented on #138
OK - I will load the HockyApp to my home iPad tonight and will need you to add that device as a user.  Then maybe we can test tomorrow evening from 6:00-6:30pm EST?

[2016-11-08 16:10] coderReview commented on #138
Ok. Just add the device in the hockeyapp so I can create a new build with your UDID.

[2016-11-09 16:26] rsial2 commented on #138
Just want to confirm. Are you guys (@coderReview & @szwart) going to test today at 6 PM EST?

[2016-11-09 16:30] szwart commented on #138
Yes, that is the plan.

From: Rashid Sial [mailto:notifications@github.com]
Sent: Wednesday, November 09, 2016 10:26 AM
To: NASA-Tournament-Lab/NTL-ISS-Food-Intake-Tracker <NTL-ISS-Food-Intake-Tracker@noreply.github.com>
Cc: Zwart, Sara (JSC-SK)[WYLE LABORATORIES, INC.] <sara.zwart-1@nasa.gov>; Mention <mention@noreply.github.com>
Subject: Re: [NASA-Tournament-Lab/NTL-ISS-Food-Intake-Tracker] Data

[2016-11-09 16:38] coderReview commented on #138
@szwart
I will prepare a new build with your device.

[2016-11-09 22:02] coderReview commented on #138
@szwart
New version was sent to you

[2016-11-09 22:09] coderReview commented on #138
Can you tell me if you are available for testing?

[2016-11-10 19:28] rsial2 commented on #138
Paulo, how did this go? Were you able to resolve it?

[2016-11-11 18:39] coderReview commented on #138
@szwart
One of your devices last sync was 11:20pm GMT (black one).
Can you open this device again, let it sync and get the pictures? I've added/updated one food after 11:20pm GMT and it's not showing properly.
Thanks

[2016-11-11 18:41] coderReview commented on #138
I will look at the data of the white one and with mine.
Thanks

[2016-11-11 18:43] coderReview commented on #138
Also, you might need to scroll down some to get all foods for a given day.

[2016-11-11 18:44] coderReview commented on #138
Let's do the following. I will prepare an excel list based on the database and send it to you. You can check against the data in your iPads. Thanks

[2016-11-14 15:49] szwart commented on #138
Paulo,

I apologize for the lag – I was out of the office on Friday.  I noticed that one of the iPads stopped syncing at 11:20 (the error message came up indicating that I was not connected to the server anymore) when I was at home.  I just tried connecting that iPad to the nasa wifi and I’m able to connect just fine, but I’m still getting the error message.  I tried connecting using my phone’s ho

[2016-11-16 19:21] coderReview commented on #138
@szwart
Can you post a screenshot of the error when you try to login in the application? I've checked the server and it's running ok.
Thanks

[2016-11-16 19:25] szwart commented on #138
I'm getting the white box that pops up saying "Error We are unable to sync this iPad with the central food repository. Don't worry!  You can still use the ISS FIT app and we will attempt to sync with the central food repository when it is available."  I just tried again and it's giving me the same message.  I've confirmed that I'm connected to wifi because I can go to other sites.

[2016-11-16 20:43] szwart commented on #138
With the new build (1.7) I am not getting that error message anymore and my iPad is syncing just fine.

[2016-11-16 20:57] coderReview commented on #138
Good. Will provide the records list so we can check.

[2016-11-17 22:45] coderReview commented on #138
@szwart
Here is the file with the report for all users and the 3 days of testing (9/11, 10/11 and 11/11). Can you check against the data in your iPads?

[test_summary.zip](https://github.com/NASA-Tournament-Lab/NTL-ISS-Food-Intake-Tracker/files/598652/test_summary.zip)

[2016-11-17 23:11] coderReview commented on #143
What does this mean exactly? Instead of using an ip address use a host name?

[2016-11-17 23:21] coderReview commented on #142
How exactly you want to automate? A script to load data into the system

[2016-11-18 14:20] cflottorp commented on #143
Correct.  Would having the option to have both be possible?

[2016-11-18 14:30] cflottorp commented on #142
Currently in the User Data data file, there is a column labeled "Profile Image".  Could that column of data upload the photo or link the photo to that user.  That would automate the crew photo.  Then a script to load the files (User Data and Data).  From what I understand, these files are always named "User Data" and "Data" for the user profile information and the food database.  The user data fil

[2016-11-18 15:03] szwart commented on #138
Paulo,

Under the Charlton Heston user, Bran Chex appears on the 3rd line of the excel spreadsheet, but that item does not appear on the iPads.  For Jack O’Neal, there is an Apple Cranberry Drink consumed on 11/9/2016 23:00 but it does not appear on the iPad displays.

I noticed that many of the foods don’t appear in the same order as they appear on the iPad.

Let me know if it would help to have

[2016-11-18 15:14] coderReview commented on #138
@szwart
Thank you. I will fix the ordering in iPad app. Will check what happened with the food records.

[2016-11-18 15:20] coderReview commented on #138
@szwart
Looking at your photos, I could find Bran Chex on day 314 (this is for the black device). For the white one, you would need to scroll to check that. On my iPad this food appeared correctly.

As for the "Apple Cranberry Drink" I will check what is going on.
Thanks

![314_rashid_helston](https://cloud.githubusercontent.com/assets/5925442/20434952/48dd2f2e-ad91-11e6-9b0d-551bcf10a280.JPG)

[2016-11-18 15:28] szwart commented on #138
There was another Bran Chex that appeared in the excel file for that day, consumed at 23:00, that does not appear on the iPads.

[2016-11-23 01:39] coderReview commented on #142
@cflottorp
Regarding photo, I've proposed to upload a zip file with all images listed in the User Data file.
About the script automation, where would this script run?

[2016-11-23 01:43] coderReview commented on #143
You don't need to use the ip address. It can be either an ip address or a valid hostname (the iPad must point to a DNS server that knows about the hostname).

[2016-11-23 20:38] cflottorp commented on #143
If it is a virtual host?

[2016-11-23 20:39] coderReview commented on #143
What do you mean virtual host? Running on a virtual machine?

[2016-11-24 03:32] coderReview commented on #138
There was an issue with the report. It was showing deleted Food Record. Fixed that.
Please check the new attached file. thank you.
[summary (1).zip](https://github.com/NASA-Tournament-Lab/NTL-ISS-Food-Intake-Tracker/files/610428/summary.1.zip)

[2016-11-24 03:41] coderReview commented on #144
This is my solution, please advise if it's acceptable:
1- Modified the load food script to avoid duplication. Example:
"Food with Name" == "Food w/ Name" == "Food w/Name" == "Food W/ name "
"Food and Drink" == "Food & Drink" == "food and drink""
2- Added a checkbox on import screen to remove all foods and food records before loading the new food as requested in the ticket.  Please beware that when

[2016-11-25 15:26] cflottorp commented on #143
I’m going to get more information from the person who requested the addition.  It doesn’t work on our end using the host name and I’m trying to nail down the possible issue.

Our server’s virtual hosting for the Admin Tool is setup with a virtualhost proxypass through Apache2 to the Node.js server.

From: Paulo Vitor Magacho [mailto:notifications@github.com]
Sent: Wednesday, November 23, 2016 2:40

[2016-11-25 15:32] cflottorp commented on #142
The Admin Tool would probably be the only way our ground personnel would be able to access it.

From: Paulo Vitor Magacho [mailto:notifications@github.com]
Sent: Tuesday, November 22, 2016 7:40 PM
To: NASA-Tournament-Lab/NTL-ISS-Food-Intake-Tracker <NTL-ISS-Food-Intake-Tracker@noreply.github.com>
Cc: Flottorp, Cheryl (JSC-SA)[WYLE LABORATORIES, INC.] <cheryl.flottorp-1@nasa.gov>; Mention <mention@

[2016-11-28 16:20] szwart commented on #144
The modified load food script might help...but we don't think #2 will work.  We can't have the FIT app have to be reinstalled each time we update the food list.  Is there any other way to reload a new food list without having to reinstall?  We understand there may be old foods left on the Daily Intake Summary reports from previous days that will no longer be in the database, but it's fine to keep

[2016-11-28 18:34] coderReview commented on #144
When food is removed from list it makes no sense keeping any records associated. I can try to figure out a way to flag the iPad app to clear all its data before loading the new food list. Is this better ?

[2016-11-28 18:56] szwart commented on #144
If a crewmember eats Food A on GMT 100 and we upload a new food database on GMT110 and Food A is no longer in the database, we would still want to know that they ate Food A during their mission.

If the app cleared all of its data before loading the new food list, would it automatically download all data from all users so there is no chance of losing data?  Our only concern is that a crewmember mi

[2016-11-28 20:49] szwart commented on #138
I checked my home iPad and everything matched.  I wasn't able to check my work iPad b/c it had already been upgraded to the next version and the data were wiped out.

[2016-11-29 17:42] coderReview commented on #144
This is only possible if the food is not removed from the Database.

That is why we were using the deleted column. To allow the visualization of removed food records. I think we can improve our loading script to avoid as much as possible to have duplicated food.

I think this way we can keep the data safe and avoid the duplicate issues. Right now I've already changed the script to improve data loa

[2016-11-29 18:32] szwart commented on #144
We’ve tried using the deleted feature, but found it to not work consistently well.  The order of the deleted food mattered, and sometimes the food list got sorted and maybe that is why deleted items showed up.  When we would go back and test foods we mark as deleted they still showed up in the food list in the app, even after we go back and sort the csv file with all deleted items at the top of th

[2016-11-29 19:49] coderReview commented on #144
@szwart The amount of items won't be an issue.  But I can keep the database wipe out when you want to restart from scratch (will need to reinstall the app).

But my proposal is to keep the delete food functionality and I work with you to get it running correctly.

What did you think of the procedure I've sent. I can even make step 1 automatic. When you upload a new file, I will mark all existing f

[2016-11-29 19:57] rsial2 commented on #138
@coderReview do you need to do anything with this item, or are we all set?

[2016-11-30 15:02] szwart commented on #144
Thanks Paulo. OK, I think we are hesitantly ok with this plan…we will need to test this one quite a bit to make sure we know all of the nuances to uploading new food databases.

From: Paulo Vitor Magacho [mailto:notifications@github.com]
Sent: Tuesday, November 29, 2016 1:50 PM
To: NASA-Tournament-Lab/NTL-ISS-Food-Intake-Tracker <NTL-ISS-Food-Intake-Tracker@noreply.github.com>
Cc: Zwart, Sara (JSC

[2016-12-01 16:41] coderReview commented on #142
@cflottorp, I didn't understand if I need to automate anything.

[2016-12-01 17:55] cflottorp commented on #142
currently, the photo for each of the users needs to be individually imported into the profile by the ground users using the Admin Tool. Which is time consuming by the ground personnel when they only have a limited window of time to use.  By providing a zip file that will be picked up by the software process to incorporate the images into the profile will help with the photos. However, with the imp

[2016-12-01 19:17] coderReview commented on #142
Do you want to allow multiple User CVS files to be imported?
When you select User and Food files they should both be imported not only one. I will check once again and fix it if necessary.

[2016-12-01 19:21] coderReview commented on #143
@cflottorp the only way to use a name instead of the IP is that in the local network a DNS server is present to provide the IP address based on the host's name.

[2016-12-05 16:32] cflottorp commented on #142
They were hoping to have the all the files automatically imported at once.  Can that be done with a script file that looks for a certain location and then imports the files.

[2016-12-05 16:48] coderReview commented on #142
This can't be done using a browser. Browser don't have access to file in computer, only when you upload a file. I can add multiple files upload. How many do you need for User and Food?

[2016-12-05 17:27] rsial2 commented on #143
Hi @cflottorp, just checking in on this.

[2016-12-05 17:28] rsial2 commented on #149
When will you be able to submit this for review?

[2016-12-05 17:28] rsial2 commented on #148
When will you be able to submit this for review?

[2016-12-05 17:28] rsial2 commented on #147
Can you confirm that this was done?

[2016-12-05 17:29] rsial2 commented on #146
Was this completed?

[2016-12-05 17:29] rsial2 commented on #141
Was this completed?

[2016-12-05 17:29] rsial2 commented on #138
Please confirm Paulo.

[2016-12-05 17:52] cflottorp commented on #142
Then if the process is for the uploading the file, if the location is always known it can automatically upload those files?

[2016-12-07 11:31] coderReview commented on #138
@rsial2 no. We are ok.

[2016-12-07 11:33] coderReview commented on #141
@rsial2 still working on this.

[2016-12-07 11:39] coderReview commented on #143
@rsial2 this can't be fixed. We need a dns server to allow hostname.

[2016-12-07 11:40] coderReview commented on #144
@rsial2 this is fixed. Will commit the code.

[2016-12-07 11:40] coderReview commented on #145
@rsial2 this is fixed. Will commit the code.

[2016-12-07 11:40] coderReview commented on #146
@rsial2 this is fixed. Will commit the code.

[2016-12-07 11:40] coderReview commented on #147
@rsial2 this is fixed. Will commit the code.

[2016-12-07 11:41] coderReview commented on #148
@rsial2 I will double check. But the last changes didn't touch the architecture.

[2016-12-07 11:42] coderReview commented on #149
@rsial2 I think I will need some images in the help and user guide. will fix this today.

[2016-12-07 15:32] rsial2 commented on #141
When will it be completed? Please note we're behind schedule on this.

[2016-12-07 15:33] rsial2 commented on #143
hi @cflottorp would NASA want to set that up, or use a pre-existing one?

[2016-12-07 15:34] rsial2 commented on #148
Thanks, just need confirmation.

[2016-12-07 15:34] rsial2 commented on #149
Thanks, we're behind schedule on this one, so please confirm when done.

[2016-12-07 15:49] cflottorp commented on #143
This may be something that NASA would have to do so I’m trying to confirm with the server owners.  I will need a couple of days to get their response.

From: Rashid Sial [mailto:notifications@github.com]
Sent: Wednesday, December 07, 2016 9:34 AM
To: NASA-Tournament-Lab/NTL-ISS-Food-Intake-Tracker <NTL-ISS-Food-Intake-Tracker@noreply.github.com>
Cc: Flottorp, Cheryl (JSC-SA)[WYLE LABORATORIES, INC

[2016-12-09 16:55] rsial2 commented on #142
@coderReview please confirm.

[2016-12-09 16:56] rsial2 commented on #141
@coderReview what is the status of this item?

[2016-12-09 16:56] rsial2 commented on #148
@coderReview have you been able to confirm?

[2016-12-09 16:56] rsial2 commented on #149
@coderReview what is the ETA on this?

[2016-12-10 01:49] coderReview commented on #148
@rsial2 Fixed. Code committed.

[2016-12-10 01:49] coderReview commented on #149
@rsial2 Fixed. Code committed.

[2016-12-10 01:49] coderReview commented on #147
@rsial2 Fixed. Code committed.

[2016-12-10 01:49] coderReview commented on #146
@rsial2 Fixed. The admin tool already in VM already has the new code. Will commit to github shortly.

[2016-12-10 01:50] coderReview commented on #145
@rsial2 Fixed. Code committed.

[2016-12-10 02:08] coderReview commented on #141
@rsial2 sorry for the delayed feedback. I was so involved with the other issues that only now I realized that the requirements are very confusing to me.

Let me see if I get it.
1- A list of food records that match the condition 1, 2 and 3. The only issue is that no 2 is not possible. I can't determine if all iPads have synchronized the data.
2- Media files are already sent with reports. Is this n

[2016-12-10 05:33] coderReview commented on #142
@rsial2 completed. Added an input for zip with images for users.

This can't be done using browser. A different script must be used, like python. This is not related to the Admin tool.

Please confirm if that is the case.

[2016-12-10 05:33] coderReview commented on #144
Code committed

[2016-12-10 05:34] coderReview commented on #146
Committed

[2016-12-12 17:49] cflottorp commented on #142
OK, then another script will be needed to automatically upload the files.

[2016-12-12 18:10] coderReview commented on #142
@cflottorp In which machine you plan to run these scripts? Windows, linux?

[2016-12-12 19:28] #148 closed

[2016-12-12 19:28] #149 closed

[2016-12-12 19:28] #147 closed

[2016-12-12 19:31] rsial2 commented on #141
@cflottorp, can you please help with these questions?

[2016-12-16 14:23] cflottorp commented on #141
Let me see if I can explain the reasoning for the need to clean up the Postgres database.  We have limited data storage for us to use on the server for our use. Over time, we will need the ability to delete the data associated with a user (crew member) from the database stored on the server.  However, before the data is deleted, we will need to make sure that the reports for that user have been co

[2016-12-16 15:03] rsial2 commented on #141
@coderReview please share your thoughts.

[2016-12-16 19:31] coderReview commented on #141
First thing. Before deleting a user, the iPad must synchronize its data to the database. There is no automatic way of knowing if the iPad has synchronize all its data. Therefore the first step is to login using this user and then logout. If no connection error is shown the data will be uploaded to the database. After a OK from the ISS crew saying that this user was synchronized you can remove it.

[2016-12-16 19:32] rsial2 commented on #141
@cflottorp can you confirm?

@szwart FYI.

[2016-12-19 15:00] cflottorp commented on #141
The steps outlined for the script to delete the user is acceptable

[2016-12-19 15:00] cflottorp commented on #143
no response from owners yet.

[2016-12-19 15:04] cflottorp commented on #142
They prefer to have the scripts run in a Windows environment

[2016-12-19 15:23] coderReview commented on #142
@cflottorp can you give more specifications? What language you want to use? Python? Which version? How do you plan to make it run automatically? Will this machine have access to the Web service?
@rsial2 this is not related to Admin Tool or iPad app. This is something we need to gather the requirements to outline a solution.

[2016-12-19 15:24] rsial2 commented on #142
Thanks Paulo.

Cheryl, looking forward to your feedback on the new questions above.

[2016-12-28 18:42] rsial2 commented on #141
@coderReview was this implemented?

[2017-01-09 17:52] cflottorp commented on #142
Most of the batch files that are run use Windows, however, I do not know if that will create issues between the server and script.

[2017-01-09 20:23] rsial2 commented on #142
does that answer all of your questions @coderReview?

[2017-01-10 14:23] rsial2 commented on #142
@coderReview do you have an update?

[2017-01-10 14:23] rsial2 commented on #141
@coderReview do you have an update on this item?

[2017-01-10 14:24] coderReview commented on #141
@rsial2 I will have this implement by tomorrow.

[2017-01-10 14:25] coderReview commented on #142
@rsial2 I will prepare a executable file to upload files to Admin Tool. However I can't make it run periodically, since this is a configuration in the Windows machine. Does this work?

[2017-01-10 14:27] rsial2 commented on #142
@coderReview, we'll need NASA to confirm.

@cflottorp, can you confirm how we should handle this? See the proposal above from Paulo.

[2017-01-10 14:28] coderReview commented on #142
@rsial2 I can make the folder where the files to be imported should be located configurable. Thanks

[2017-01-10 14:31] cflottorp commented on #142
That should work.

From: Paulo Vitor Magacho [mailto:notifications@github.com]
Sent: Tuesday, January 10, 2017 8:29 AM
To: NASA-Tournament-Lab/NTL-ISS-Food-Intake-Tracker <NTL-ISS-Food-Intake-Tracker@noreply.github.com>
Cc: Flottorp, Cheryl (JSC-SA)[WYLE LABORATORIES, INC.] <cheryl.flottorp-1@nasa.gov>; Mention <mention@noreply.github.com>
Subject: Re: [NASA-Tournament-Lab/NTL-ISS-Food-Intake-Trac

[2017-01-11 14:37] cflottorp commented on #142
Currently, the reports for Sara and Scott are run on a weekly basis which works out well.  The importing of the data files (user profiles, user photos and food data) are usually performed on a 6 month basis (but unknown as to the exact date) so if the files are placed in a folder where we can configure for each rotation that should work out well. Thanks,

[2017-01-11 14:57] rsial2 commented on #142
@cflottorp, thanks for the update.

@coderReview, please make the changes as mentioned above.

[2017-01-11 14:57] rsial2 commented on #143
@cflottorp have you heard anything about this yet?

[2017-01-11 16:03] szwart opened #151 "Login"
Paulo - FYI, Holly and I are both having issues logging in.  For any user we pick, we get a message that pops up stating "User already logged in another device".  Are all of the users currently logged in on your devices?

[2017-01-11 16:11] rsial2 commented on #151
@coderReview see above.

[2017-01-11 16:12] szwart commented on #151
Sorry for the distraction - I realized I wasn't connected to our wifi.  Once I was connected, I'm able to log in using any of the users.  However, I'm still getting a message that comes up saying "Error.  We are unable to sync this iPad with the central food repository.  Don't worry! You can still use...".  So it appears to let me connect in order to log in, but not to the food repository.  Could

[2017-01-11 16:24] rsial2 commented on #151
@szwart can you try on a non-NASA network? If it works then it's the NASA firewall.

[2017-01-11 16:47] szwart commented on #151
I tried connecting using my phone hotspot and it’s still giving me that message.

From: Rashid Sial [mailto:notifications@github.com]
Sent: Wednesday, January 11, 2017 10:25 AM
To: NASA-Tournament-Lab/NTL-ISS-Food-Intake-Tracker <NTL-ISS-Food-Intake-Tracker@noreply.github.com>
Cc: Zwart, Sara (JSC-SK)[WYLE LABORATORIES, INC.] <sara.zwart-1@nasa.gov>; Mention <mention@noreply.github.com>
Subject: R

[2017-01-11 16:50] coderReview commented on #151
@szwart I will check the server is up and running.

[2017-01-12 03:53] coderReview commented on #151
@szwart Server is running fine. Will check the iPad app.

[2017-01-12 13:40] szwart commented on #151
Holly says hers is not giving her that error message.  So it appears to only be mine.  Maybe I should try to reload the app?

From: Paulo Vitor Magacho [mailto:notifications@github.com]
Sent: Wednesday, January 11, 2017 9:53 PM
To: NASA-Tournament-Lab/NTL-ISS-Food-Intake-Tracker <NTL-ISS-Food-Intake-Tracker@noreply.github.com>
Cc: Zwart, Sara (JSC-SK)[WYLE LABORATORIES, INC.] <sara.zwart-1@nasa.go

[2017-01-12 14:01] coderReview commented on #151
Can you paste the app config?
Em qui, 12 de jan de 2017 às 11:40, szwart <notifications@github.com>
escreveu:

[2017-01-12 18:29] rsial2 commented on #151
@coderReview can you confirm how to do that? Do you mean from the Settings app?

[2017-01-12 18:29] rsial2 commented on #141
@coderReview how's this coming along?

[2017-01-12 18:34] rsial2 commented on #142
@coderReview were you able to work on this?

[2017-01-12 18:36] coderReview commented on #151
Yes.

[2017-01-12 18:36] coderReview commented on #141
@rsial2 almost done. Just need to dump database table. Already generating report and deleting database entries.

[2017-01-12 19:37] rsial2 commented on #151
Thanks Paulo.

@szwart can you upload the screenshot please.

[2017-01-12 21:51] szwart commented on #151
![ipad screenshot](https://cloud.githubusercontent.com/assets/11872594/21909755/e09a5512-d8de-11e6-81a4-c938cc66b2ff.JPG)
Let me know if this is not what you were looking for...

[2017-01-13 18:29] coderReview commented on #151
@szwart that seems correct. I've provided a new version of the iPad app. Can you try a fresh install?

[2017-01-13 18:30] szwart commented on #151
It works now!  I don't get that error anymore.  Thanks!!

[2017-01-13 18:30] #151 closed

[2017-01-14 06:12] coderReview commented on #141
After implementing the delete tab I've found that step 1 is not really needed

All needed information  (Food Name, Food Data, Food Consumption, Image and Audio) can be retrieved from report

**Code is in github and deployed in VM**

Will update DG and instruction tab after the automated script issue.

cc @cflottorp and @rsial2

[2017-01-18 23:55] rsial2 commented on #141
Thanks @coderReview, we can't consider this issue completed until the deployment guide, instruction tab and user guide have been updated. Please confirm.

[2017-01-18 23:55] rsial2 commented on #142
@coderReview please provide an update.

[2017-01-19 05:54] coderReview commented on #142
@rsial2 done

[2017-01-19 05:55] coderReview commented on #141
@rsial2 ok. Will have it done by Friday.

[2017-01-20 15:42] rsial2 commented on #141
Thanks, confirming that the guides have been updated (I got the pull request).

[2017-01-20 20:29] cflottorp commented on #143
This change for the use of the hostname will need to be implemented by NASA if needed due to the architecture of the LS1 server and iPad interface, and with the way the permissions/access is set up in the network.

[2017-01-20 21:51] rsial2 commented on #143
Thanks, I'll close this ticket.

[2017-01-20 21:51] #143 closed

[2017-01-22 16:59] nithyaasworld commented on #145
Vitamins/Supplements section is visible without having to scroll.

![image](https://cloud.githubusercontent.com/assets/5114190/22184156/38e01318-e0f2-11e6-8c08-c00a9e8273f3.png)

[2017-01-22 17:11] nithyaasworld commented on #146
In the Report, Protein and Sodium has same data for all food items. Seems like protein has incorrect value.

@coderReview Please check

![image](https://cloud.githubusercontent.com/assets/5114190/22184244/db550d0a-e0f3-11e6-99db-7db72185369e.png)

[2017-01-22 18:54] nithyaasworld commented on #141
@coderReview Currently even after flagging the user for delete (In User Data  tab of Admin Tool), I am able to login with that user (in iPad app) and add foods.

I think its not good to allow the user to login after marking the user for deletion. Please confirm.

[2017-01-22 19:00] coderReview commented on #141
Were you online (with internet connection)? I will check what is going on.
Thanks

[2017-01-22 19:03] nithyaasworld commented on #141
yes I was online.

Now, I deleted that user using Delete tab. A file was downloaded. After that It showed me a proxy error and VM is not accessible now. Please check.

![image](https://cloud.githubusercontent.com/assets/5114190/22185026/68b7536a-e103-11e6-873a-7c9150a6f535.png)

![image](https://cloud.githubusercontent.com/assets/5114190/22185031/791d5114-e103-11e6-877b-c8ee004aab51.png)

[2017-01-22 19:25] coderReview commented on #141
@nithyaasworld server is back up

[2017-01-23 06:33] nithyaasworld commented on #142
@coderReview

In the config.ini file, it seems like I should be able to configure only the filepath and not the folder path. Please confirm.

I thought I should be able to specify the **folder path** of Food data, User data and ProfileImage files, so all files in those folders will be uploaded on executing this script.

[code]

[2017-01-23 07:17] nithyaasworld commented on #144
@coderReview

1.--> Now whenever a new food data is loaded, all previous data will be marked as deleted. So there is no use of the checkbox "Mark existing food as deleted". So can we please remove this checkbox to avoid any confusions?

2--> I uploaded this food data file. There are only two food items. The first one is new entry, second one is already existing data. After uploading, it showed me

[2017-01-23 11:38] coderReview commented on #142
I think we don't loose any functionality by providing the file's name. Also, we need one file for user and one for user image. If we have multiple files we can have other issues.

[2017-01-23 11:39] coderReview commented on #142
@cflottorp please confirm if this acceptable

[2017-01-23 11:40] coderReview commented on #144
1- that is not true. If you don't mark all as deleted, existing food will be kept. Only the ones in the new food file will get updated
2- will check

[2017-01-23 12:43] nithyaasworld commented on #142
@coderReview Also we need to have option to upload multiple user image files. Because in a User File, there will be lot of users. As per the issue-description, it seems we need to map the userimage file name in the Profile image column of User_Data file. So on uploading a user_Data, its corresponding profile image should  get automatically linked to the profile.

[2017-01-23 13:21] nithyaasworld commented on #142
@coderReview Also I think the idea of automating is, one should be able to upload multiple files in one go. Not just configure one file at a time and execute the script.

your thoughts please?

[2017-01-23 14:11] cflottorp commented on #142
Yes, you are correct.  Currently we have to upload each file for the images per user. Then the food data and the user data files.   The idea for the automation was for all the files to all be automated else we will be doing the same function as before by uploading each file. All the files were to be loaded at one time.

From: Nithya [mailto:notifications@github.com]
Sent: Monday, January 23, 2017

[2017-01-23 14:25] nithyaasworld commented on #142
@cflottorp Just to double confirm, there will be one folder which will have One food_Data file and One User_data File and multiple crew-photo files.  On specifying the location of folder path, all the files in that folder should get uploaded and photos should get linked to corresponding profile. Correct?

[2017-01-23 14:29] coderReview commented on #142
@nithyaasworld you can't upload image files. You upload a CSV with user data and a Zip file with the images. The image file is unzipped and the file's name is matched against the data inside the CSV file.
What I have done is automated this process but you can't upload multiple user CSV files and image.

[2017-01-23 14:33] coderReview commented on #142
You can't have more than one pair of user file and user image in the folder. That is why I didn't use folder in config.

[2017-01-23 14:44] nithyaasworld commented on #142
@coderReview Ok. Thank You. That sounds good. I will verify.

[2017-01-23 16:49] nithyaasworld commented on #144
Ok. Can you please update me on No:2 issue?

 (Only then, I can thoroughly verify #142)

[2017-01-23 17:36] nithyaasworld commented on #142
@coderReview

1. When I did not have a folder name called "executed", it still showed me success message along with errors. In that case, can we just show the error message without the success message?

![image](https://cloud.githubusercontent.com/assets/5114190/22214991/bf45551c-e1bf-11e6-876d-db29347d0867.png)

2. After importing, it showed me success message and user file and food file are move

[2017-01-23 18:29] nithyaasworld commented on #141
2--> After deleting the user using the Delete tab of Admin Tool, the user is still shown in the iPad app. On clicking login button, it displays a incorrect message "User already logged in another device"

[2017-01-23 18:38] nithyaasworld opened #156 "iPad App -> Add Food: App crashes when clicking on mic icon"
iPad 4 iOS 10.2

Clicking on mic icon crashes the app

![image](https://cloud.githubusercontent.com/assets/5114190/22217474/2e7e3dbe-e1c9-11e6-9792-da531d0e0994.png)

[2017-01-23 18:40] nithyaasworld opened #157 "App crashes when logging in for the very first time with a newly created user"
iPad 4 iOS 10.2

1. Open the app and create a new user
2. Try to login with the newly created user and observe

Actual:

App crashes when logging in with the newly created user for the first time.

Expected:

No crash.

[2017-01-23 19:24] nithyaasworld opened #158 "iPad App: Quantity and Time are not getting saved"
iPad 4 iOS 10.2

1. Login as any user in the ipad app
2. Add the food item "Altoids Mints"
3. Change its quantity to any other values (say 2 pkg)
4. Logout and login again and observe

Actual:

1. The package value selected was not preserved
2. when I set the drinking water package value to 2.5, it preserves only the whole numbers not the decimals. So it is saved as 2 instead of 2.5
3. After modif

[2017-01-23 19:33] nithyaasworld commented on #158
Similarly, modified Time value is also not getting preserved after logging out.

[2017-01-23 19:44] nithyaasworld commented on #138
There is no Data sync issue as of now. Tested with a device and a simulator.

I will keep watching the data-syncing until other tickets are closed.

@coderReview Can you please make the food order same in all device for a user?

![image](https://cloud.githubusercontent.com/assets/5114190/22219835/60160df8-e1d2-11e6-9c5b-3c324297f26d.png)

[2017-01-24 09:12] nithyaasworld commented on #156
I tried again with the latest code. It still crashes. Can you please check?

[2017-01-24 09:12] nithyaasworld commented on #157
I tried again with the latest code. It still crashes. Can you please check?

[2017-01-24 12:43] nithyaasworld commented on #138
2--> (I am able to use mic icon in the simulator there is no crash. )

I added 4 items via my iPad and logged out. When I logged in via simulator, those 4 items were present. Now I added 2 more items via simulator (one of them is through mic entry) and logged out. I re-logged in simulator and verified that there were 6 entries now.

Now I again logged in to my iPad, but found that only 4 entries w

[2017-01-24 12:52] nithyaasworld commented on #141
3-->

@coderReview I think this is not implemented. Please confirm.

[2017-01-24 13:18] nithyaasworld commented on #141
4--> After deleting the user from Delete tab, I saw this error today. However User reports are downloaded automatically upon deletion.

![image](https://cloud.githubusercontent.com/assets/5114190/22248403/75e20b90-e264-11e6-9c07-e3a046f1f474.png)

5-->It seems only food data are exported before deletion. I am not seeing any user data.

![image](https://cloud.githubusercontent.com/assets/5114190/22

[2017-01-24 20:19] coderReview commented on #138
2- How did you enter the two last items after the first 4 and their timestamp is before?
@nythiaasworld

[2017-01-25 03:48] nithyaasworld commented on #138
2 -- Ok. I just checked. My iPad's time is 24 minutes faster than my iMac. I think it should still get synced even if the timestamp is in the past.

[2017-01-25 08:48] coderReview commented on #138
2- How did you enter the two last items after the first 4 and their timestamp is before?
@nythiaasworld

[2017-01-26 05:20] nithyaasworld commented on #156
Verified.

[2017-01-26 05:20] #156 closed

[2017-01-26 05:32] nithyaasworld commented on #157
The above issue is fixed. But I see another issue now.

After logging in, I added a food to consumption list, then I immediately logged out. Then after syncing is done (after loading symbol stopped spinning), I tried to login. It is showing me the same login screen. When I again try to login, it crashes.

Reproducible Rate: 3/3

Video:
[2.mp4.zip](https://github.com/NASA-Tournament-Lab/NTL-ISS-Foo

[2017-01-26 06:27] nithyaasworld commented on #146
Protein and Sodium has correct value now.

Please check the following:

1. "Comments" are not exported in Report
2. Entries in future date are not exported

[2017-01-26 14:46] coderReview commented on #138
@rsial2 can you confirm that the app should cope with time differences of the iPad devices?

[2017-01-26 14:57] rsial2 commented on #138
I don't know @coderReview. I'm assuming all of the iPads are in the same time zone.

@szwart what are your thoughts?

[2017-01-26 15:54] szwart commented on #138
Cheryl confirmed that the time zones on ISS for the SSC laptops and the iPads are all synched or set to Reykjavik time.

On Jan 26, 2017, at 8:58 AM, Rashid Sial <notifications@github.com<mailto:notifications@github.com>> wrote:

I don't know @coderReview<https://github.com/coderReview>. I'm assuming all of the iPads are in the same time zone.

@szwart<https://github.com/szwart> what are your thou

[2017-01-26 16:06] coderReview commented on #138
The main issue is not time zone difference. But just wrong time. If the devices and the backend server are synced to a central time server there won't be any problem. Should I take any action or can we leave like this?

[2017-01-26 16:11] coderReview commented on #138
There is a 10min tolerance.

[2017-01-26 16:46] szwart commented on #138
What would happen if one iPad was an hour off for whatever reason (anything beyond the 10 min tolerance). Would we lose some data from that iPad?

On Jan 26, 2017, at 10:07 AM, Paulo Vitor Magacho <notifications@github.com<mailto:notifications@github.com>> wrote:

The main issue is not time zone difference. But just wrong time. If the devices and the backend server are synced to a central time ser

[2017-01-27 10:22] coderReview commented on #138
There is no data loss. Just the data would not get synchronized to the other devices that are ahead of time.

[2017-01-27 14:08] szwart commented on #138
OK – as long as no data loss when we pull a report, we are good with this.

From: Paulo Vitor Magacho [mailto:notifications@github.com]
Sent: Friday, January 27, 2017 4:23 AM
To: NASA-Tournament-Lab/NTL-ISS-Food-Intake-Tracker <NTL-ISS-Food-Intake-Tracker@noreply.github.com>
Cc: Zwart, Sara (JSC-SK)[WYLE LABORATORIES, INC.] <sara.zwart-1@nasa.gov>; Mention <mention@noreply.github.com>
Subject: Re:

[2017-01-27 16:55] nithyaasworld commented on #138
I will check this one more time, after all the issues related to Reports are verified.

[2017-01-27 19:34] coderReview commented on #141
3- yes. The user is marked as removed and you can find it in the delete tab. my opinion is that the total user removal has to be a manual step. One by one to avoid mistakes. @rsial2 please confirm
4- first report is downloaded and afterwards the user is deleted. Does this happen all the time for a given user?
5- please see my comments above. No user data is being exported as it easy to recover thi

[2017-01-27 19:38] coderReview commented on #146
1- the code is exporting comments. Can you point to a step by step that this hasn't  worked
2- Normally no report will have this entries. And it doesn't make sense because user didn't make use of that food. This type of entry could be a mistake or an anticipation. In both cases of the user gets deleted before that date this food consumptions records should not be taken into account.

[2017-01-28 03:16] nithyaasworld commented on #141
**1,2  - Yet to fix
3 - Need confirmation from @rsial2**
4- Yes. While the report started to download, user is deleted.
I did not see that error when I tried last time. I will update you if it occurs again
**5- Can you please explain how do I get the report of a deleted user-data? Thanks. (I am not able to find it)**
6 - This is discussed as part of #146
7- I will check this once again. If this is

[2017-01-28 07:48] nithyaasworld commented on #146
1--> Login as user "DeleteUser Testing", Add a Food to consumption list and then add a comment. Logout and login again and see that the comment is still present.
Now in Admin Tool, Export the report for this user and observe that entry is present without the comment.

![image](https://cloud.githubusercontent.com/assets/5114190/22395174/e674fa58-e55b-11e6-899c-05e12223ba9b.png)

![image](https://cl

[2017-01-28 11:40] nithyaasworld commented on #146
Good point. I agree.

[2017-01-28 17:14] rsial2 commented on #141
3 - confirmed @coderReview & @nithyaasworld

[2017-01-29 13:56] coderReview commented on #144
The data in CSV is incorrect.

Should be like this:

[code]

You need one more column.

[2017-01-29 14:09] coderReview commented on #157
@nithyaasworld are you changing the Identifier to com.nithya.FoodIntakeTracker?
I will upload a new version in Hockeyapp. This way I can get the crash logs. Ok?

[2017-01-29 14:11] nithyaasworld commented on #157
Yes.
Ok. Thanks.

[2017-01-29 14:21] nithyaasworld commented on #144
Ok. Can you please update the sample template here in the link (screenshot), so I will take the sample template from there? Thanks.

![image](https://cloud.githubusercontent.com/assets/5114190/22404693/44f9163a-e65c-11e6-9506-8e4e1099e10d.png)

[2017-01-29 14:25] coderReview commented on #144
@nithyaasworld done

[2017-01-29 15:01] coderReview commented on #141
@nithyaasworld please test again and let me know what is still an issue (see all other related issues).

[2017-01-29 15:08] coderReview commented on #157
@nithyaasworld new version was uploaded to HockeyApp

[2017-01-29 16:02] nithyaasworld commented on #157
It crashed again now for the same scenario above https://github.com/NASA-Tournament-Lab/NTL-ISS-Food-Intake-Tracker/issues/157#issuecomment-275311234.  I have clicked the "Send Report" button. Hope you have received the crash log. Please check.

[2017-01-29 16:14] nithyaasworld commented on #158
Pass.

Modified Quantity and Time values are preserved.

[2017-01-29 16:33] nithyaasworld commented on #146
Thanks Paulo.

The above issues are solved.

When I choose "All Users Food Data Report", it is fetching empty folders without any food reports.

![image](https://cloud.githubusercontent.com/assets/5114190/22405855/bfad4c54-e66e-11e6-8197-0db03350277e.png)

[2017-01-29 16:38] nithyaasworld commented on #144
@coderReview What does the last column with value "1" imply?

[2017-01-29 17:12] nithyaasworld commented on #144
4--> Can I have a list of existing food entries in CSV format? is it possible?
(I am asking this, in order to check, "Mark existing food as deleted" function. I do not want to delete all 933 entries that are present now)

[2017-01-29 17:32] nithyaasworld commented on #142
@coderReview while uploading the food data via the script, it will mark all the existing entry as deleted?

[2017-01-29 17:47] nithyaasworld commented on #141
**1,2 - Yet to fix**
3 - No Fix needed.
4- Yes. While the report started to download, user is deleted.
I did not see that error when I tried last time. I will update you if it occurs again
**5- Can you please explain how do I get the report of a deleted user-data? Thanks. (I am not able to find it)**
6 - This is discussed as part of #146
7- I will check this once again. If this is an issue, I will

[2017-01-29 23:02] nithyaasworld commented on #144
5-->I uploaded the data.csv file with an entry "Jan 30 Test 01" at line 491. It showed the message "Bulk upload successful" but this entry was not found.

6--> Also there are 926 entries in the Food Data tab now. But in the csv file, I had only 491 food items. Since I had checked "Mark existing food as deleted", I expected only the items in the csv file to be present in the Food data tab and not 9

[2017-01-30 03:47] nithyaasworld commented on #142
Issues 1, 2 still exist.

Tested with the below data:
[testdatajan30.zip](https://github.com/NASA-Tournament-Lab/NTL-ISS-Food-Intake-Tracker/files/738117/testdatajan30.zip)

[2017-01-30 11:27] coderReview commented on #142
Are you sure 1 is still an issue?

2- fixed.
3- No it won't. I've added a command line argument `-f`. Please check the updated README.md inside the **Automated Scripts** folder.

[2017-01-30 11:28] coderReview commented on #141
What do you mean?

[2017-01-30 11:34] coderReview commented on #157
@nithyaasworld can you check if this is reproducible in simulator or is a device only issue? Thanks

[2017-01-30 11:39] coderReview commented on #144
@nithyaasworld please try again.

[2017-01-30 11:40] nithyaasworld commented on #142
1--> Yes. This happened when I last tested (8 hours ago).

![image](https://cloud.githubusercontent.com/assets/5114190/22421753/c8c74b50-e70e-11e6-8cc9-58281e9cabc3.png)

2-->  I will verify now
3--> Inside the Readme.md file of Automated Scripts folder, I couldn't find anything new.

[2017-01-30 11:56] nithyaasworld commented on #142
2--> On running the script now, nothing is happening, it is stuck.

After executing the

it was stuck for more than 4 minutes. So I had to manually quit it by ctrl+Z.

is there any change in the config.ini file or the script file? Repository is not updated. So I used the same script.

[2017-01-30 12:25] nithyaasworld commented on #157
There is no crash in the simulator (Tested with the latest code available in the repository).

However it did not login when I clicked on Login after logout. It showed the same login screen. Then when I tried to login again, it logged me in. But this happened only one time. All other time, there was no problem in simulator.

[2017-01-30 12:38] nithyaasworld commented on #144
Now after I have uploaded a data.csv file with 491 entry, i could see only 25 entries.
During the import, "Mark existing entry as deleted" checkbox was checked.

Expected: There should be 491 food records as in the uploaded file.

uploaded data:
[data.csv.zip](https://github.com/NASA-Tournament-Lab/NTL-ISS-Food-Intake-Tracker/files/738900/data.csv.zip)

[2017-01-30 12:42] nithyaasworld commented on #146
Issue still exists. is the Fix deployed to VM?

[2017-01-30 12:44] coderReview commented on #146
Yes. Can you paste the results?

[2017-01-30 12:45] coderReview commented on #146
All users in database that are not removed will appear in the report.

[2017-01-30 12:49] nithyaasworld commented on #146
But the folders are empty.

This is the Report generated:
[summary (19).zip](https://github.com/NASA-Tournament-Lab/NTL-ISS-Food-Intake-Tracker/files/738916/summary.19.zip)

[2017-01-30 12:50] coderReview commented on #146
Does these have any food record in app?

[2017-01-30 12:55] coderReview commented on #146
Found the issue

[2017-01-30 12:57] nithyaasworld commented on #146
Also there is a folder called "media" which does not seem to have valid info.

![image](https://cloud.githubusercontent.com/assets/5114190/22423866/cac2d54a-e719-11e6-8c4d-726ff05f2c14.png)

[2017-01-31 01:16] coderReview commented on #144
@nithyaasworld The problem was not with the code. But inconsistency in the database. Please try again.

@rsial2 and @szwart when you deploy this new code, are you going to do it on a fresh system (user and food database)? Otherwise, we might need to treat this inconsistency.

[2017-01-31 01:17] coderReview commented on #142
@nithyaasworld please try again. @rsial2 has deployed the new code to repository.

[2017-01-31 01:18] coderReview commented on #146
Fixed.

[2017-01-31 04:08] nithyaasworld commented on #144
Food data gets uploaded now. After uploading, all old data are removed and it has the same data as uploaded via CSV file.

If there is any duplicate food item present in csv, then only the latest food item is added.

I will verify what happens to removed food items in iPad app and update here.

[2017-01-31 11:27] nithyaasworld commented on #144
Removed food items are still shown in iPad app, which is as expected.

@coderReview

 I have deleted all data in Food tab of Admin Tool except two food entries. But still all food entries appear in my iPad Add-consumption Food list. I will check if this is  because my iPad is 24 minutes faster.

[2017-01-31 11:31] nithyaasworld commented on #144
Set correct time in iPad. Still the same issue exists.

[2017-01-31 12:07] nithyaasworld commented on #146
Verified.

(All the previous issues in this ticket are also re-verified)

[2017-01-31 12:09] nithyaasworld commented on #142
Tried with the latest code.

It took long time (more than 5 mins) and then displayed the below error.

Tried with both "f" in command and without "f" too.

![image](https://cloud.githubusercontent.com/assets/5114190/22464298/2adda046-e7dc-11e6-8156-27b0d81a5e45.png)

[2017-01-31 12:11] coderReview commented on #144
@nithyaasworld now that you corrected the time, can you import the food CSV again and sync the iPad? Just correcting the time won't fetch new data since you synchronized with the incorrect time. Thanks

[2017-01-31 12:22] nithyaasworld commented on #144
Imported the food csv again and synced the iPad. Still the same. I see all Food items in Add-Consumption list.

[2017-01-31 13:32] szwart commented on #144
When we deploy this new code, we will not be doing it on a fresh system unfortunately.

From: Paulo Vitor Magacho [mailto:notifications@github.com]
Sent: Monday, January 30, 2017 7:17 PM
To: NASA-Tournament-Lab/NTL-ISS-Food-Intake-Tracker <NTL-ISS-Food-Intake-Tracker@noreply.github.com>
Cc: Zwart, Sara (JSC-SK)[WYLE LABORATORIES, INC.] <sara.zwart-1@nasa.gov>; Mention <mention@noreply.github.com>

[2017-01-31 21:57] #146 closed

[2017-01-31 21:57] #145 closed

[2017-02-01 14:05] nithyaasworld commented on #141
how do we recover user data? I thought the zip file that is obtained after removing the user would have all data (both food and user data).

[2017-02-01 14:11] coderReview commented on #141
User data is just name and profile image. This is simple to recover. Also, when the report is genarated you have the name of the user in the containing folder. The most important information is food and food consumption information.

[2017-02-01 14:15] nithyaasworld opened #164 "Not able to sync with Central Repository though I have active internet"
I was retesting #157. For that, I needed to Login and Logout several times after adding/removing food to consumption list. At one time, after logging out, it was not syncing to Central Repository.

I closed and re-opened the app, but no luck. I see the below error.

Device Log:
[log.zip](https://github.com/NASA-Tournament-Lab/NTL-ISS-Food-Intake-Tracker/files/745048/log.zip)

![image](https://clou

[2017-02-01 14:18] nithyaasworld commented on #157
No crash now. But I would like to recheck this once #164 is fixed.

[2017-02-01 14:33] coderReview commented on #164
Can you try again? I will see if there was any crash in server. But when that happens it's automatically restarted. Just need a few minutes.

[2017-02-01 14:46] nithyaasworld commented on #164
I accidentally deleted the app. So re-installed the app. Now I see no such problem.

I will again test #157 and update here if it occurs again.

[2017-02-01 16:18] nithyaasworld commented on #164
No problem now.

[2017-02-01 16:18] #164 closed

[2017-02-01 16:18] nithyaasworld commented on #157
No Crashes now.

[2017-02-01 16:18] #157 closed

[2017-02-01 16:29] nithyaasworld commented on #158
Now the Time and Quantity I entered are **sometimes** not getting saved. It is set back to its previous value.

Reproducible Rate for Time: 3/5
Reproducible Rate for Quantity: 1/5

Video: Please watch from 35th second ->
[1.mp4.zip](https://github.com/NASA-Tournament-Lab/NTL-ISS-Food-Intake-Tracker/files/745444/1.mp4.zip)

[2017-02-01 16:37] nithyaasworld commented on #141
The server went down after I deleted an user from Delete tab. Please check.

![image](https://cloud.githubusercontent.com/assets/5114190/22516108/c22d5a38-e8ca-11e6-8d78-83877729be42.png)

[2017-02-01 16:43] nithyaasworld commented on #141
It was UP.

I again performed the same action (deleting an user from Delete tab). It went down now.

[2017-02-01 16:53] nithyaasworld commented on #142
I noticed today that the User that was in User data csv file got uploaded because of running the above script file yesterday.

But that User has no image in his profile though I had image file in the test data.

[2017-02-01 16:57] nithyaasworld commented on #141
I just want to make sure that we are not losing any data after deleting an user. Do we have copy of these data marked in the screenshot? Or it is not necessary?

![image](https://cloud.githubusercontent.com/assets/5114190/22516908/6307511e-e8cd-11e6-97c4-c9c21955868c.png)

[2017-02-01 20:01] coderReview commented on #141
@rsial2 and @szwart do we need to save such information? Specially because they could change over time. Right now we have user name, food and food consumption information. Please confirm
Thanks

[2017-02-01 20:09] szwart commented on #141
No - we will have a record of all of that when we load it into their user profile csv file.  User name, food, and food consumption data is what we need.

[2017-02-01 20:10] coderReview commented on #141
@nithyaasworld I will check the server crash. Thanks

[2017-02-01 23:56] coderReview commented on #141
@nithyaasworld crash was fixed. Thanks

[2017-02-01 23:57] coderReview commented on #142
@nithyaasworld I am managing to send the files without any issues. Can you send the data files  and the config.ini file you are using?

[2017-02-02 00:00] coderReview commented on #144
@nithyaasworld the database is now in an inconsistency state. I have removed some Food Products that were not supposed to be removed. Therefore the iPad devices does not know that these food products must be removed from their database.

I just have to fix one small issue with the database and you can start a fresh test. Will let you know when it's done.

Test Scenario:
1- Remove iPad app
2- Sync

[2017-02-02 00:10] coderReview commented on #141
@nithyaasworld Just one thing though. Before deleting user in Delete tab, you must make sure to synchronize all iPad devices/simulators first.

[2017-02-02 01:24] coderReview commented on #158
@nithyaasworld can you send me the logs?

[2017-02-02 07:18] nithyaasworld commented on #141
Thanks Paulo. There is no crash now.

There is one thing. Once I delete the user from User tab and then try to login in iPad, it says "User was removed" and then the user_thumbnail is removed from iPad app. This is as expected.

But when I delete the user from Delete tab and then try to login in iPad, it says "User already logged in another device". This should be fixed.

[2017-02-02 07:19] nithyaasworld commented on #141
I also have one question: The report generated while deleting a user is same as the one generated when using the Report tab. Correct?

(I am asking this, so I do not have to verify the reports twice in detail.)

[2017-02-02 09:42] nithyaasworld commented on #158
I am not able to reproduce today. Tried for about 5 times. All the times it worked correctly.

Closing this.

[2017-02-02 09:42] #158 closed

[2017-02-02 09:44] nithyaasworld commented on #144
@coderReview Ok. I will wait.

[2017-02-02 10:29] nithyaasworld commented on #142
Ok. I tried one more time. It took me 4 minutes and then displayed the same error as in the screenshot above.

However, On a quick glance I can see that User data and food data are added and visible in Admin Tool as in the csv. But the User data has no image attached to it though I have specified one during the upload.

Here are the files that I used for testing yesterday:
[testdata (1).zip](https

[2017-02-02 11:15] coderReview commented on #141
Yes. It's the same report. The add food details flag is always on.

[2017-02-02 13:21] coderReview commented on #142
Please use this file.

[testdata paulo.zip](https://github.com/NASA-Tournament-Lab/NTL-ISS-Food-Intake-Tracker/files/747805/testdata.paulo.zip)

[2017-02-02 13:58] nithyaasworld commented on #142
I still see same error with the above data too.

However the Food and User data got uploaded. User data got uploaded with no profile pic (username: Feb02 Test01)

[2017-02-02 14:52] nithyaasworld opened #166 "Error displayed after creating an user"
iPad 4 iOS 10.2

The following error is displayed right after creating a new user.

This started happening only in the latest version of the app.

![image](https://cloud.githubusercontent.com/assets/5114190/22554189/40d093ea-e985-11e6-9a57-61cb9f56e939.png)

[2017-02-02 14:58] nithyaasworld commented on #166
It also crashed once when I tried to login. But this happened only once. I have sent the crash report via the app. Hope you have received.

[2017-02-03 06:35] nithyaasworld commented on #166
Verified. No more errors.

[2017-02-03 06:35] #166 closed

[2017-02-04 02:54] coderReview commented on #144
@nithyaasworld done. You can test.

[2017-02-04 02:55] coderReview commented on #138
@nithyaasworld i think you can retest.

[2017-02-04 02:56] coderReview commented on #142
Can you save the CSV files with unix format (line ends).

[2017-02-04 06:06] nithyaasworld commented on #141
@coderReview I uploaded an user via the Automated Script. I deleted the same user using User Tab. Then I deleted the same user from Delete Tab. At this point, I see the below error:

However Reports are generated.

![image](https://cloud.githubusercontent.com/assets/5114190/22616178/2a0e2902-eace-11e6-96e1-801be656b92d.png)

[2017-02-04 06:08] nithyaasworld commented on #144
@coderReview There are 744 entries in Food tab (in admin tool) currently. I have food data of around only 480 entries (the csv file you shared with me for testing another ticket).. Can I upload this 480 and replace the existing 744 entries? would we lose data?

Or can you share the CSV with current 744 entries?

Thanks.

[2017-02-04 06:23] nithyaasworld commented on #144
@coderReview Thanks for sending the file.

I will Verify this.

Meanwhile, can you please remove the last column "1" from the Food CSV file? I remember it was not present during the last test cycle.

[2017-02-04 06:24] coderReview commented on #144
@nithyaasworld the column 1 is normal. Don't worry about this.

[2017-02-04 06:30] coderReview commented on #141
@nithyaasworld you always get the report, even if the user don't get deleted. However I've fixed it.
Try again.

[2017-02-04 07:25] nithyaasworld commented on #144
Ok.

I tried Uploading a new csv with just 3 food items and marked all existing as deleted during the upload. It is success and showed only the 3 food items in Admin Tool.

But in iPad, I still see the long list of food items along with the 3 newly added food items. I logged out and logged in again and tried. I closed the app and re-opened and tried.

It seems like iPad Food inventory shows Delete

[2017-02-04 10:05] nithyaasworld commented on #141
Delete Functionality is verified.

In Admin Tool, On Deleting a User from User Tab, it is moved to Delete Tab. At this point, User is not available in iPad too.
Then further Admin can delete the user from Delete Tab. On Deleting, A report with Username, Food Consumption list is downloaded automatically.

Note: Any issues found with Report will be reported separately.

[2017-02-04 10:09] nithyaasworld opened #169 "Exported Report does not have Voice message associated with a newly created food item"
1. In iPad, create a new food item using Snap Photo option
2. After the food is added to consumption list, add a voice message
3. Now logout (to get synched)
4. In Admin Tool, generate a report for this user and observe

Actual:

Voice message associated with this newly created food item, is not available in the Report generated.

User: Jan23Test1
Food Data Added on: Feb 2nd 2017
Food Name with vo

[2017-02-04 12:26] coderReview commented on #144
@nithyaasworld have you deleted the app from the iPad. 1st step.

2- Sync with food
3- Upload food csv file
5- Check iPad app food inventory
6- Upload a second food csv file
7- Check iPad app food inventory

[2017-02-04 13:37] nithyaasworld commented on #144
Ok. Its working after re-installing the app.

I am checking in detail. Once done, I will update.

[2017-02-04 14:07] nithyaasworld commented on #144
When I change the category of a Food item (in the uploaded csv file), it shows two items in iPad. Both old item and new item.

Whereas in Admin Tool, it shows only the latest Food item.

![image](https://cloud.githubusercontent.com/assets/5114190/22619018/2bef6a04-eb11-11e6-8343-430805c45b61.png)

![image](https://cloud.githubusercontent.com/assets/5114190/22619025/449f0a32-eb11-11e6-8880-7a9abbe4

[2017-02-04 14:34] coderReview commented on #144
Will check. The end result is to have two food items. Because changing the origin the app should understand as a new food.
Just to understand.
You created a CSV and uploaded to server. And then changed the origin and uploaded it again. Right?

[2017-02-04 15:05] nithyaasworld commented on #144
The Food named "Food One" was uploaded via CSV initially. Then again modified the category (by mistake) via another CSV upload.

The Food named "Manually Adding01" was created in iPad. Then I remember adding all nutritional and category via the Admin Tool. then I again used the same data in CSV and uploaded.

[2017-02-04 20:38] coderReview commented on #144
Let's see what is going on:

1- There are two entries in database for **Food One**. One with **removed = false** and another **removed = true**. Thus the Admin Tool is showing the correct information. iPad not.
2-  There are two entries in database for **Manually Adding01**. One with origin **null** and another with origin  **ESA Foods**.  The one with origin null is an Adhoc Food, therefore it do

[2017-02-04 20:39] coderReview commented on #169
@nithyaasworld Voice didn't get uploaded to server.

[2017-02-04 21:36] coderReview commented on #169
Can you open the food details and see if the playback button is enabled?

[2017-02-04 21:44] coderReview commented on #144
@nithyaasworld
1- are you still seeing two entries for Food One and Manually Adding01?

[2017-02-05 01:43] nithyaasworld commented on #144
@coderReview

Yes. I am still seeing two entries for both the food products.

I agree.

Actually I added an Adhoc food and updated the same Adhoc food in Admin Tool. So in Ipad, I would still expect Only one entry as I have just updated the existing adhoc food via admin tool.

[2017-02-05 01:46] nithyaasworld commented on #169
It was enabled, when I was checking yesterday (Even after logging out and logging in back) and able to play too.

But now it is disabled. I will check the scenario again.

Thanks.

[2017-02-05 02:43] nithyaasworld commented on #144
3--> I added a new food via Snap-a-Photo option.
Then I uploaded a new set of food items via CSV file. So this food item added by Snap-a-photo option was removed from Admin Tool (This is expected).

In iPad, Food Name added by Snap-a-photo option disappeared too.

This happens only for the food added by Snap-a-photo option. There is no such problem with food items added by Adhoc option.

![image](

[2017-02-05 02:53] nithyaasworld commented on #169
I am still able to reproduce by following the steps in the issue.

This happens to only the food added via Snap-a-photo option. No such problem with food added via Adhoc option.

[2017-02-05 06:16] nithyaasworld commented on #142
@coderReview Paulo, Server went down after I performed the following step

I tried to ran the automated script with 50 users in User.CSV and some 15 food products in Food.CSV.

I used the command:  python send-files.py -c config.ini -f

test data used:
[UserImage.zip](https://github.com/NASA-Tournament-Lab/NTL-ISS-Food-Intake-Tracker/files/752784/UserImage.zip)
[User.csv.zip](https://github.com/NA

[2017-02-05 15:01] coderReview commented on #144
@nithyaasworld did you retest this one?

[2017-02-05 16:12] nithyaasworld commented on #144
When I verified in the morning, it was ok.

I will verify once again all the issues reportedly previously and update.

[2017-02-05 17:56] nithyaasworld commented on #144
@coderReview I have one last question for this ticket.

You have already confirmed that food added via adhoc will not appear in Admin Tool.

Can you also confirm if food added via "snap a photo" option will not appear too in Admin tool?

[2017-02-05 19:06] coderReview commented on #144
Confirmed. Any food added in the iPad app won't appear in Admin Tool.

[2017-02-05 19:07] coderReview commented on #142
Fixed

[2017-02-05 19:31] nithyaasworld commented on #142
Ok. There is NO Server crash now.

One last small change for this ticket.

In the Config.ini file, can you please change the following line

From:
filename=c:\\Temp\\UserImage.**csv**

To:
filename=c:\\Temp\\UserImage.**zip**

[ Though it is configurable, It initially confused me to see image file format as .csv. ]

[2017-02-05 19:33] nithyaasworld commented on #144
**Test Summary:**

Verified

Verified. Removed Food item will still appear in Food Consumption list (in iPad) if the crewmember has already consumed it.

Verified. When importing a new food data, if "mark existing food as deleted" option is selected (it is selected by default), then all old food data will be marked as "removed" and all new food data will be added.

When importing a new food data,

[2017-02-05 19:49] nithyaasworld commented on #142
**Test Summary:**

Verified.

(Just a note that Profile pics are expected to be only in .jpg file format, else it will not get uploaded.)

Verified.

Just a note that, Import tab in Admin Tool can be used instead of Automation script if needed. Import tab now has option to load image files, user file, food file - all at once and it works well.

Thanks Paulo!

[2017-02-05 20:00] nithyaasworld commented on #169
It still happens.

One more update: If I add the voice message to an existing snap-a-photo food item which was created some 3 hours before, then there is no such problem.

[2017-02-05 20:01] coderReview commented on #169
I can reproduce as well. Will have a fix soon.

[2017-02-06 04:51] nithyaasworld commented on #138
@coderReview I am not able sync my simulator to the Central Repository.
No such problem with iPad

This is the steps performed:
1- Open simulator and login as jan23test1 user
(it gave me an error msg stating that user is already logged in another device)
2- I opened iPad and logged out from jan23test1 user
3- Now in simulator, i Logged in as jan23test1 user and added one food item
4- Clicked logou

[2017-02-06 04:56] nithyaasworld commented on #138
simulator log:
[system.log.zip](https://github.com/NASA-Tournament-Lab/NTL-ISS-Food-Intake-Tracker/files/753664/system.log.zip)

[2017-02-06 12:17] nithyaasworld commented on #138
Tried one more time now. Same results.

[system.log.zip](https://github.com/NASA-Tournament-Lab/NTL-ISS-Food-Intake-Tracker/files/754528/system.log.zip)

[2017-02-07 00:28] coderReview commented on #142
filename=c:\Temp\UserImage.csv

filename=c:\Temp\UserImage.zip

Done. cc @nithyaasworld

[2017-02-07 09:17] nithyaasworld commented on #138
Thanks Paulo for helping with this!

Verified. There is no sync issue now. Sync between my device and simulator (both with same time settings)  are instant now.

[2017-02-07 09:35] nithyaasworld commented on #138
Paulo ~

I just set my device time as 1 hour 15 minutes ahead of the actual time. My simulator has actual correct time.

In my device, I added a food item at around 16:10. This added item appeared in simulator where it was only 14:55.

However, when I added a food item via the simulator, it is not appearing in my iPad. My iPad is already ahead of the actual time. So expecting the added food item v

[2017-02-07 12:27] coderReview commented on #138
If your device is ahead 1:15h, when you add anything in simulator you will have to be at least 1:15h without synchronizing to server. That is because the app uses local time (in GMT timezone) to save the last sync time.
If the iPad is synchronizing the sync time is always ahead and won't fetch any change made by simulator. However all devices at NASA are synchronized  to a central server. So that

[2017-02-07 12:39] nithyaasworld commented on #138
Ok. Thanks.

[2017-02-07 16:36] nithyaasworld commented on #169
Verified.

Report has voice message associated with food product added by snap-photo option.

[2017-02-07 16:36] #169 closed

[2017-02-07 16:41] nithyaasworld commented on #141
Paulo~

I see issues that were fixed and verified previously:

1. Able to login in ipad after deleting user from Delete tab
2. Server crashed after Delete process got completed (proxy error shown for Admin Tool)

[2017-02-10 04:32] nithyaasworld commented on #138
@coderReview

I tested the below scenario considering the above fact.

In iPad, I have my device time setup as 1.15hrs ahead of actual time.
In simulator, I have actual time.

I created a new user via iPad and added some food products to it, then logged out (they all got synced now). Now back in simulator, I logged in as the same user and found that all food products are synced. Now I added anothe

[2017-02-10 04:35] nithyaasworld commented on #141
Delete Functionality is working when the iPad has correct time.

Anything related to syncing with db when device time is not correct, will be reported as part of 138

[2017-02-10 04:43] coderReview commented on #138
Can you get the logs from the iPad device?

[2017-02-10 12:01] nithyaasworld commented on #138
Please find the log:
[console log.zip](https://github.com/NASA-Tournament-Lab/NTL-ISS-Food-Intake-Tracker/files/766575/console.log.zip)

[2017-02-10 18:37] coderReview commented on #138
@nithyaasworld iPad device was not completely synchronized. It seems to be missing some food information. Have you added any Adhoc Food in simulator?

[2017-02-11 02:39] nithyaasworld commented on #138
@coderReview No. NO adhoc food was added in simulator.

[2017-02-11 18:24] nithyaasworld commented on #138
Paulo ~

voice message associated with snap-photo food product is not syncing to db if I have my device time 1.15hrs ahead of actual time.

Steps to reproduce:

1. In iPad, set the time to 1.15hrs ahead of actual time.
2. Add some food item for the user "Sync Test"
3. Then logout and login to simulator (this has correct time) with the same user
4. Add some food item including adhoc foods
5. Logout

[2017-02-12 05:56] coderReview commented on #138
@rsial2 it seems that we have a race condition when making many changes to a Food Record before it gets synced to the server.
For now I would like to use a simple solution to fix this issue. That is to add a loading spinner to the Food Record consumption cell. This won't block any other functionality. You can continue to add new food records and use the rest of the application.

Please confirm. CC

[2017-02-12 06:09] coderReview commented on #138
Video.

[video.mov.zip](https://github.com/NASA-Tournament-Lab/NTL-ISS-Food-Intake-Tracker/files/769112/video.mov.zip)

[2017-02-12 09:59] nithyaasworld commented on #138
I tried the new code from your repo. Sometimes, It is stuck with the message "Uploading to Server"

It happens mostly in the following scenario:

(In iPad, it is 1.15hrs faster than actual time. In simulator, it has correct time)

1. Login with iPad and add some food product into consumption list and Logout
2. Now Login with simulator, add new food product via the mic icon (intake from voice). Now

[2017-02-13 09:25] nithyaasworld commented on #138
Thanks Paulo for fixing the above issues.

There is one thing:

Sync is not happening in the following scenario, so ipad app user is able to add food products for the user who is already deleted.

1. In ipad, create a new user and add some food products and logout (note that iPad time is 1.15hrs ahead of actual time)
2. In simulator, login as the same user and add some more food products and logou

[2017-02-13 09:28] nithyaasworld commented on #138
In the above case, Once I add a food product as a deleted-user in iPad, the deleted user is put back to Users tab from Delete tab in Admin Tool.

[2017-02-13 10:02] coderReview commented on #138
Hi, this scenario can't be fixed with a more complex solution and from the conversation above we can expect all iPads will be synchronized in time. Although not desirable no data is lost in the scenario above. Thanks

[2017-02-13 10:17] nithyaasworld commented on #138
@szwart The problem (stated here: https://github.com/NASA-Tournament-Lab/NTL-ISS-Food-Intake-Tracker/issues/138#issuecomment-279333833 ) happens only when user is marked for deletion (that is, deleted from Users tab of Admin Tool and moved to Delete Tab). If the user is deleted (that is, removed from Delete tab too), then there is no such issue. iPad user is prevented from logging in if the user i

[2017-02-13 10:45] nithyaasworld commented on #138
@coderReview

2--> I remember we discussed this already. But just forgot what we concluded about that issue.

Scenario is:
1- My iPad device time set to 1.15hrs.
2. Created a new user and added some food consumption to this user and logged out
3. Logged into simulator as the same user and added some more food and logged out
4. Then I deleted all the old foods in the Food inventory by replacing it

[2017-02-13 13:27] coderReview commented on #138
That is correct. Since the iPad clock is ahead of time it doesn't fetch the last changes.

There are two possible solutions for the clock issues:

1- Keep the sync time in server and make the device read this time instead of local clock.

- Pro: nothing
- Cons: need to write new code to handle this. iPad clock will still have incorrect time.

2- Use a NTP server to keep clock synchronized in devic

[2017-02-13 13:32] coderReview commented on #138
@rsial2 and @nithyaasworld if the only issue you are seeing is related to the clock not being adjusted please check my previous comment.

@rsial2, @szwart please confirm solution **2- Use a NTP server to keep clock synchronized in devices** is enough to handle clock issues.

[2017-02-13 13:42] szwart commented on #138
We are fine with solution 2.  Thanks!

From: Paulo Vitor Magacho [mailto:notifications@github.com]
Sent: Monday, February 13, 2017 7:32 AM
To: NASA-Tournament-Lab/NTL-ISS-Food-Intake-Tracker <NTL-ISS-Food-Intake-Tracker@noreply.github.com>
Cc: Zwart, Sara (JSC-SK)[WYLE LABORATORIES, INC.] <sara.zwart-1@nasa.gov>; Mention <mention@noreply.github.com>
Subject: Re: [NASA-Tournament-Lab/NTL-ISS-Food-I

[2017-02-13 23:31] #144 closed

[2017-02-13 23:32] #142 closed

[2017-02-13 23:32] #141 closed

[2017-02-13 23:33] rsial2 commented on #138
Thanks @szwart.

@coderReview, when will this ticket be completed?

CC @nithyaasworld

[2017-02-14 01:36] coderReview commented on #138
With this confirmation from @szwart I believe all issues are fixed. Just waiting final confirmation from @nithyaasworld

[2017-02-14 04:02] nithyaasworld opened #173 "Drinking Water - When added without Food Category and Origin"
@coderReview I am not sure if this is a valid scenario.

I just want to let you know that this happened, so logging this ticket.

When I uploaded a Food CSV file with Drinking water without specifying Origin or Category, I received the below error.

Please let me know what Origin should a Drinking water food product have

Uploaded File:
[Food 2.csv.zip](https://github.com/NASA-Tournament-Lab/NTL-I

[2017-02-14 04:07] nithyaasworld commented on #173
Even If I have Origin as "NASA Foods" and upload, I still receive same error.

[2017-02-14 10:55] coderReview commented on #173
Origin can be NASA Foods and category can be Drink

[2017-02-14 10:58] coderReview commented on #173
You can't add food without origin and category. But I will try improving the error message

[2017-02-14 11:33] nithyaasworld commented on #173
Ok. After adding Origin and category as stated above, I am able to add Fluid via the app.

[2017-02-14 13:49] nithyaasworld commented on #138
@rsial2 This is verified with Paulo's repo. Once the code for "loading indicator" is merged to this Repo, I would like to do one final test to make sure everything is ok.

[2017-02-14 13:50] coderReview commented on #173
@nithyaasworld will improve the error message and make a new commit in 1h.

[2017-02-14 17:43] nithyaasworld commented on #173
Thanks Paulo.

It shows correct error message.

![image](https://cloud.githubusercontent.com/assets/5114190/22941289/f0487c32-f30a-11e6-9516-16087f8f5136.png)

[2017-02-14 17:43] #173 closed

[2017-02-14 18:31] nithyaasworld opened #175 "Not able to login to users when iPad is offline"
iPad 4 iOS 10.2

1. Switch off the wifi and try to login to any of the users

Actual:

I get error "User is already logged in another device"

Expected:

User should be allowed to login in offline mode.

[2017-02-14 18:38] coderReview commented on #175
I think we have to leave like this. User can only login when online. After that if device goes offline it can continue to log food consumption records.
Why?
1- If device is offline a user lock cannot be created and more than one user can make changes to food records at once
2- If user was marked as removed (but still present in database), the offline device won't get that information and will mark

[2017-02-14 18:39] coderReview commented on #175
@nithyaasworld if confirmed I can improve the error message (when the server is offline) and disable login button when iPad has not internet connection

[2017-02-14 18:59] szwart commented on #175
If we can only login when online, this will make it very difficult for us to train crews.  We've always been able to login when offline and the data are synced when the iPad is online again and we really like that feature.
The risk of having multiple offline iPads adding food at the same time is very low, as is the risk of adding foods to a deleted user.

[2017-02-14 19:13] coderReview commented on #175
@szwart. ok.

[2017-02-14 19:18] nithyaasworld commented on #138
Data sync issue is verified.

I have my device time setup as **5 mins faster than actual time** (within the 10 mins tolerance limit). Data got synced successfully.

Along with the above, the following also verified to make sure nothing is broken.

- Food Data CSV upload
- Delete Functionality
- Report Generation
- Automation Upload

[2017-02-14 19:52] coderReview commented on #175
@nithyaasworld can you test the following scenarios?

1- Disconnect iPad
2- Login with user
3- Add food consumption records
4- Delete user in Admin Tool 'User Data' tab.
5- Connect iPad

Expected result: Should be forced to logout

1- Disconnect iPad and Simulator
2- Login with same user on both
3- Add food consumption records on both
4- Connect iPad
5- Connect Simulator

Expected result: iPad sho

[2017-02-14 20:22] rsial2 commented on #138
Closing this issue.

FYI @szwart see above.

[2017-02-14 20:22] #138 closed

[2017-02-14 20:33] szwart commented on #138
Thanks!

[2017-02-15 04:17] nithyaasworld commented on #175
I just added two foods when the device is in offline mode.

Those two foods are stuck with the message "Uploading to server" as there is no network connection.

Can we hide those loading indicator when the device is offline? is it possible?

[2017-02-15 04:47] nithyaasworld commented on #175
2-->

It is forced to logout, but added food record is saved to db. I am not sure if this is okay, because this food record was added after the user was marked for deletion.

[2017-02-15 04:52] nithyaasworld commented on #175
3-->

1- Disconnect iPad
2- Login with user
3- Add food consumption records and **LOGOUT**
4- Delete user in Admin Tool 'User Data' tab.
5- Connect iPad and **LOGIN**

this time, user is removed from Delete tab and put back in User tab. Added Food records are also saved to db.

[2017-02-15 05:03] nithyaasworld commented on #175
4-->

1- Disconnect iPad and Simulator
2- Login with same user on both
3- Add food consumption records on both
4- Connect iPad
5- Wait iPad to synchronize
6- Connect Simulator
7- Now user is forced to logout as expected
**8- Try to login again in simulator for the same user**

Actual: User is now logged in simulator as well as in iPad when both systems are online. Added food records in simulator a

[2017-02-15 05:10] nithyaasworld commented on #175
@coderReview

I would suggest to fix no:1 ( https://github.com/NASA-Tournament-Lab/NTL-ISS-Food-Intake-Tracker/issues/175#issuecomment-279912977 ) above as it prevents the user from editing the added food in offline mode.

For no: 2, 3 and 4, If its easy for you to fix, lets fix. Otherwise I would suggest not to worry as  @szwart has stated that "The risk of having multiple offline iPads adding fo

[2017-02-15 16:39] coderReview commented on #175
@nithyaasworld

I will fix no 1, 3 and 4.

[2017-02-16 14:03] coderReview commented on #175
@nithyaasworld fixed

[2017-02-16 19:29] nithyaasworld commented on #175
For no:1, I am able to edit only the time and quantity. I am not able to open the added food record,so I am not able to add comment or voice message.

(I am still checking other scenarios. I will update once done)

[2017-02-16 19:52] nithyaasworld commented on #175
No:3 and 4 are verified.

Only No:1 is pending.

[2017-02-16 21:14] coderReview commented on #175
@nithyaasworld done.

[2017-02-17 06:29] nithyaasworld commented on #175
No:1 is also verified.

Also the below scenario is verified:

1. Disconnect iPad and login to any user
2. In Admin Tool Remove some Food products
3. In iPad try to add the removed food item and observe

Outcome: Removed food item is added in red colour and the food inventroy list is updated.

[2017-02-17 06:29] #175 closed

[2017-02-22 21:07] szwart opened #179 "Barcode Scanning"
1. Barcode scan something that is in the database.
2. Click Add to Consumption, then click Scan another barcode.
3. Scan something not in database.
4. Message pops up indicating that no product for that barcode is found.  Click ok.
5. The only way for the user to get back to the consumption page is to tap Profile or Help/Settings and then tap Consumption.

[2017-02-22 21:30] rsial2 commented on #179
@coderReview please fix.

[2017-02-23 02:45] coderReview commented on #179
@rsial2 looking at this.

[2017-02-23 04:45] nithyaasworld commented on #179
@coderReview I am not able to reproduce. I see a cancel button to get back. Are you able to reproduce?

![image](https://cloud.githubusercontent.com/assets/5114190/23245224/f923343a-f9b0-11e6-9c6a-b8cae25b24a7.png)

[2017-02-23 04:51] nithyaasworld commented on #179
I am able to reproduce.

[2017-02-23 04:52] coderReview commented on #179
What did you do different?

[2017-02-23 05:28] nithyaasworld commented on #179
Just followed the exact steps in the Issue description.

[2017-02-23 06:35] coderReview commented on #179
fixed. new version in HockeyApp.
cc @szwart, @rsial2 and @nithyaasworld

[2017-02-23 06:48] nithyaasworld opened #181 "App crashes on adding food via Scan bar code for the first time"
1. Launch the app and create a new user (not necessary though)
2. Scan a valid barcode and add a food
3. Observe

Actual:

App crash

Expected:

No crash

[2017-02-23 06:49] nithyaasworld commented on #181
Crash Log

[Archive.zip](https://github.com/NASA-Tournament-Lab/NTL-ISS-Food-Intake-Tracker/files/795715/Archive.zip)

[2017-02-23 06:50] nithyaasworld commented on #179
App crashes on adding the food via scan barcode for the first time.

I think it is not because of this fix. So I have raised a separate issue (#181) for that.

[2017-02-23 06:50] coderReview commented on #179
No need. Fixed already. My bad

[2017-02-23 06:53] nithyaasworld commented on #179
Thanks. Is it available via Hockeyapp?

[2017-02-23 06:54] coderReview commented on #179
Available now

[2017-02-23 06:55] coderReview commented on #181
fixed

[2017-02-23 09:18] nithyaasworld commented on #179
Verified.

[2017-02-23 09:19] nithyaasworld commented on #181
Verified. No more crash.

[2017-02-23 09:19] #181 closed

[2017-02-23 16:06] rsial2 commented on #179
Hi @szwart, this has been fixed. Can you download the latest and verify?

[2017-02-23 16:23] szwart commented on #179
I’m still having an issue, but it is slightly different now.  When I log in to a user and barcode scan an item, I get an error message “Error. OK”.  If I click OK, then scan that same item again, it captures the item just fine.  It only seems to do it the first time I barcode scan an item with a particular user.  I tried it using Saint-Jacques’ profile and then repeated the issue with Vande_Hei’s

[2017-02-23 17:35] rsial2 commented on #179
@coderReview please fix.

[2017-02-23 19:26] coderReview commented on #179
@szwart I can't reproduce the issue. I've uploaded a new version to hockeyapp just for testing this. Please use this new version.

[2017-02-23 19:26] coderReview commented on #179
@szwart Can you let me know when you start the test? I want to track the logs.

[2017-02-23 19:29] szwart commented on #179
Will do.  Thanks.

From: Paulo Vitor Magacho [mailto:notifications@github.com]
Sent: Thursday, February 23, 2017 1:26 PM
To: NASA-Tournament-Lab/NTL-ISS-Food-Intake-Tracker <NTL-ISS-Food-Intake-Tracker@noreply.github.com>
Cc: Zwart, Sara (JSC-SK)[WYLE LABORATORIES, INC.] <sara.zwart-1@nasa.gov>; Mention <mention@noreply.github.com>
Subject: Re: [NASA-Tournament-Lab/NTL-ISS-Food-Intake-Tracker] Bar

[2017-02-23 19:37] szwart commented on #179
I’m starting it now.

From: Paulo Vitor Magacho [mailto:notifications@github.com]
Sent: Thursday, February 23, 2017 1:27 PM
To: NASA-Tournament-Lab/NTL-ISS-Food-Intake-Tracker <NTL-ISS-Food-Intake-Tracker@noreply.github.com>
Cc: Zwart, Sara (JSC-SK)[WYLE LABORATORIES, INC.] <sara.zwart-1@nasa.gov>; Mention <mention@noreply.github.com>
Subject: Re: [NASA-Tournament-Lab/NTL-ISS-Food-Intake-Tracker]

[2017-02-23 19:37] coderReview commented on #179
@szwart Great. If you manage to reproduce the issue let me know.

[2017-02-23 20:34] szwart commented on #179
I can’t seem to reproduce that issue now…

From: Paulo Vitor Magacho [mailto:notifications@github.com]
Sent: Thursday, February 23, 2017 1:38 PM
To: NASA-Tournament-Lab/NTL-ISS-Food-Intake-Tracker <NTL-ISS-Food-Intake-Tracker@noreply.github.com>
Cc: Zwart, Sara (JSC-SK)[WYLE LABORATORIES, INC.] <sara.zwart-1@nasa.gov>; Mention <mention@noreply.github.com>
Subject: Re: [NASA-Tournament-Lab/NTL-ISS-

[2017-02-23 20:38] rsial2 commented on #179
Thanks @szwart, closing this issue.

[2017-02-23 20:38] #179 closed

[2017-03-02 21:32] szwart opened #183 "Keep getting Error about not being able to connect to food repository"
I'm connected to the internet (confirmed by going to other websites), but keep getting an error that my iPad can't sync to the central food repository.  Also, I'm getting an error indicating that user Charlton Heston can't be logged in because he is already logged in another device.

[2017-03-02 21:35] coderReview commented on #183
Amazon AWS had some issues in the past days. I will check if server is running. If you get lock issues go to admin tool and click on Release Lock button

[2017-03-02 21:43] coderReview commented on #183
@szwart
Please try again. I will check the logs to see what is going on

[2017-03-02 21:45] szwart opened #184 "Problem playing media files"
After pulling a report and clicking on one of Saint-Jacques' media files (20172102192609), I get a message that comes up indicating that Windows Media Player encountered a problem while playing the file.  I was able to play the next file (ending in 850), but not the one ending in 805.

[2017-03-02 21:46] szwart commented on #183
I'm still not able to sync.

[2017-03-02 21:49] coderReview commented on #183
Can you close the app and open it again? I can't see the logs from your device. Can you access the admin tool from the iPad browser?

[2017-03-02 21:53] szwart commented on #183
I've closed the app and opened several times but keep getting that error message about the sync.  Yes - I just accessed the admin tool from the iPad browser.

[2017-03-02 23:41] coderReview commented on #183
@szwart. Can you close the app, not just using the home button but actually stoping the app and start again? For some strange reason the logs are not being sent to the server I've set up.

[2017-03-02 23:45] coderReview commented on #184
It seems that the file is very small. Meaning it didn't record anything. Can you try recording a new file for a few seconds a try report again? cc @nithyaasworld

[2017-03-02 23:54] szwart commented on #183
Yes, I closed the app (swiped up) and tried to log in several times. I even restarted the iPad. I think you are not seeing the logs because it is not syncing, no?

On Mar 2, 2017, at 5:42 PM, Paulo Vitor Magacho <notifications@github.com<mailto:notifications@github.com>> wrote:

@szwart<https://github.com/szwart>. Can you close the app, not just using the home button but actually stoping the app a

[2017-03-02 23:58] coderReview commented on #183
@szwart the logs are sent to a server. but this is not working for your device. It was working last week.

[2017-03-03 00:34] rsial2 commented on #183
Sara are you on a network that allows external connections?

[2017-03-03 01:25] szwart commented on #183
Yes - it worked fine from my office last week. I just tried from my home computer and I'm able to log in now to some of the profiles (some say they are in use right now). I will try again tomorrow from my office.

On Mar 2, 2017, at 6:34 PM, Rashid Sial <notifications@github.com<mailto:notifications@github.com>> wrote:

Sara are you on a network that allows external connections?

—
You are receivi

[2017-03-03 13:27] coderReview commented on #183
@szwart what I find strange is that the logs for the iPad device you were testing is not showing in the log server dashboard. But I could see the logs from your iPad mini you tested yesterday night.
Is there any food consumption record that you've added that is showing the Synchronizing to Server message?

[2017-03-03 13:52] szwart commented on #183
My iPad mini had no problem connecting to the server, so I’m not surprised you saw the logs from last night.  When I logged the foods last night, I believe I did see the message Synchronizing to Server.

I just tried the iPad in my office and it is still giving me the error message about not being able to sync.  I logged in as a user and tried to add a food and now it’s stuck with an “Uploading to

[2017-03-03 13:55] szwart commented on #183
FYI – I tried using my phone hotspot to connect and I’m still getting the error message.

From: Rashid Sial [mailto:notifications@github.com]
Sent: Thursday, March 02, 2017 6:35 PM
To: NASA-Tournament-Lab/NTL-ISS-Food-Intake-Tracker <NTL-ISS-Food-Intake-Tracker@noreply.github.com>
Cc: Zwart, Sara (JSC-SK)[WYLE LABORATORIES, INC.] <sara.zwart-1@nasa.gov>; Mention <mention@noreply.github.com>
Subjec

[2017-03-03 13:55] coderReview commented on #183
@szwart normally this is because some food record is not being able to synchronize to the server and is blocking the synchronization.

[2017-03-03 13:59] szwart commented on #183
FYI- I just deleted the app from my iPad and reloaded it, and now my iPad is syncing again.

From: Paulo Vitor Magacho [mailto:notifications@github.com]
Sent: Friday, March 03, 2017 7:55 AM
To: NASA-Tournament-Lab/NTL-ISS-Food-Intake-Tracker <NTL-ISS-Food-Intake-Tracker@noreply.github.com>
Cc: Zwart, Sara (JSC-SK)[WYLE LABORATORIES, INC.] <sara.zwart-1@nasa.gov>; Mention <mention@noreply.github.co

[2017-03-03 13:59] coderReview commented on #183
@szwart the logs are showing in the log server.

[2017-03-03 13:59] coderReview commented on #183
@szwart yes. But now that I have the logs I will track what was the issue. Did the problem begin after you delete a food consumption record?

[2017-03-03 14:01] szwart commented on #183
Unfortunately I can’t pinpoint when the sync problem started.  We had the iPad in the lab for testing, so there were several users testing it.  I will try to pay attention to this today!

Thanks!

From: Paulo Vitor Magacho [mailto:notifications@github.com]
Sent: Friday, March 03, 2017 8:00 AM
To: NASA-Tournament-Lab/NTL-ISS-Food-Intake-Tracker <NTL-ISS-Food-Intake-Tracker@noreply.github.com>
Cc: Z

[2017-03-03 14:04] coderReview commented on #183
@szwart I think when you connected using your phone hotspot the logs started to show.

[2017-03-03 14:06] szwart commented on #183
Actually, I was still getting the sync error message when connecting via hotspot.  After I reloaded the app, I'm not having the sync error anymore (connected via nasa wifi).

[2017-03-03 14:08] szwart opened #185 "Nutrient info for supplements"
I noticed that for 3 of the supplements (Nature's Bounty, One A Day, and Centrum Silver), they do not show any Nutrient info in the Daily Intake Report.  A grey bar "Data will be incorporated into ground analysis" shows up instead.  I checked the admin tool, and those items have zeros for calories, sodium, and fluid...shouldn't they show up as zeros instead of the grey bar?

[2017-03-03 14:15] coderReview commented on #183
@szwart when you removed the app any record that was not synchronized to the server was lost.

[2017-03-03 14:17] szwart commented on #183
Yes…and that is what happened on ISS too…but we saw no way around it b/c we couldn’t get it to sync.

From: Paulo Vitor Magacho [mailto:notifications@github.com]
Sent: Friday, March 03, 2017 8:15 AM
To: NASA-Tournament-Lab/NTL-ISS-Food-Intake-Tracker <NTL-ISS-Food-Intake-Tracker@noreply.github.com>
Cc: Zwart, Sara (JSC-SK)[WYLE LABORATORIES, INC.] <sara.zwart-1@nasa.gov>; Mention <mention@noreply.

[2017-03-03 14:21] coderReview commented on #185
@szwart normally when all values are zeros the grey bar is shown. Only one of the nutrient value is different from zero the nutrients information is shown.

[2017-03-03 15:47] rsial2 commented on #183
@szwart, thanks for working with us on this.

@coderReview and @nithyaasworld this is a high priority issue. Need to make sure it's fixed.

[2017-03-03 15:47] rsial2 commented on #184
@szwart can you try again today please?

[2017-03-03 15:58] szwart commented on #184
Absolutely. In a meeting now but will try again later.

On Mar 3, 2017, at 9:47 AM, Rashid Sial <notifications@github.com<mailto:notifications@github.com>> wrote:

@szwart<https://github.com/szwart> can you try again today please?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/NASA-Tournament-Lab/NTL-ISS-Food-Intake-Tracker/

[2017-03-03 17:18] szwart commented on #184
I added a few voice files to the Nick Hague profile where I counted to 10.  I'm still getting an error indicating the "Windows Media Player encountered an issue while playing the file".

[2017-03-03 17:26] szwart commented on #184
No… I click on the food record to open details and when I click the play button a grey bubble pops up and says “Player stopped”.

From: Paulo Vitor Magacho [mailto:notifications@github.com]
Sent: Friday, March 03, 2017 11:21 AM
To: NASA-Tournament-Lab/NTL-ISS-Food-Intake-Tracker <NTL-ISS-Food-Intake-Tracker@noreply.github.com>
Cc: Zwart, Sara (JSC-SK)[WYLE LABORATORIES, INC.] <sara.zwart-1@nasa.go

[2017-03-03 17:30] szwart commented on #184
Ah – I figured out what it was.  In the settings, the app access to microphone was not toggled on.  It’s working now.

From: Paulo Vitor Magacho [mailto:notifications@github.com]
Sent: Friday, March 03, 2017 11:21 AM
To: NASA-Tournament-Lab/NTL-ISS-Food-Intake-Tracker <NTL-ISS-Food-Intake-Tracker@noreply.github.com>
Cc: Zwart, Sara (JSC-SK)[WYLE LABORATORIES, INC.] <sara.zwart-1@nasa.gov>; Mention

[2017-03-03 17:30] coderReview commented on #184
@szwart great news. If you want I can add this information to the documentation. @rsial2 what do you think?

[2017-03-03 17:38] rsial2 commented on #184
Yes please add it @coderReview. We'll close this ticket once it's been added.

[2017-03-03 20:25] szwart commented on #185
It would be nice to have the nutrient info even if they are zeros instead of the grey bar.  If this is a major change/fix, then do not worry about it.  Thanks!

[2017-03-03 20:26] szwart commented on #184
Sounds good.

[2017-03-03 20:57] szwart commented on #183
I have not had any sync issues today since I reloaded the app, and have tried it off and on all day. It appears this might be fixed?

[2017-03-03 21:55] rsial2 commented on #183
@coderReview what do you think?

[2017-03-03 21:57] coderReview commented on #183
@szwart can you delete a food consumption record and see if you get errors?

[2017-03-03 22:04] szwart commented on #183
I deleted a bunch of food consumption records (by swiping to delete).  No errors.

[2017-03-03 22:05] coderReview commented on #183
Ok. Can you use select the food and click the delete button on the top left?

[2017-03-03 22:08] szwart commented on #183
I deleted a bunch of foods by deleting as you describe above and everything seems to be working fine.  No errors.

[2017-03-03 22:08] coderReview commented on #183
Ok. Thanks.

[2017-03-03 22:09] coderReview commented on #185
It will show zeros for Intake from Voice and Intake From Image. Is this ok?

[2017-03-03 22:14] szwart commented on #185
Hmm...no, we should keep those as the grey bar indicating data will be incorporated on the ground.

[2017-03-03 22:14] rsial2 commented on #183
Closing this ticket.

[2017-03-03 22:14] #183 closed

[2017-03-04 03:39] coderReview commented on #185
@rsial2 no change will be made here. I think we can close this. Please confirm @szwart

[2017-03-04 13:44] szwart commented on #185
That is OK with us...

On Mar 3, 2017, at 9:39 PM, Paulo Vitor Magacho <notifications@github.com<mailto:notifications@github.com>> wrote:

@rsial2<https://github.com/rsial2> no change will be made here. I think we can close this. Please confirm @szwart<https://github.com/szwart>

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com

[2017-03-04 14:10] #185 closed

[2017-03-04 22:11] coderReview commented on #184
@rsial2 documentation was updated. Please check it out.

[2017-03-06 15:28] rsial2 opened #187 "Bugdefender SDK"
I'm unable to find anything in the deployment guide in reference to the bugdefender SDK. Need a brief overview of the what we're using it for, where NASA can sign up for their own account, and how to switch over the tracking from our account to their account (in our code).

[2017-03-07 03:29] coderReview commented on #187
@rsial2 fixed

[2017-03-07 21:44] #187 closed

[2017-03-08 15:12] szwart opened #190 "Sync issue on the International Space Station (ISS FIT version 1.0)"
Last month, a crewmember called down to report that she started getting an error message indicating that she was not connected to the Central Food Repository.  Her food logs were not being synced with the server and when the reports were generated at the end of the week, her data were missing (as expected since we knew her iPad was not syncing).  Around the same time, a 3rd crewmember on ISS manua

[2017-03-08 15:36] coderReview commented on #190
please connect to the database using psql or any other program and run the following SQL command.

`ALTER TABLE data ALTER COLUMN value VARCHAR (10485760) NOT NULL;`

[2017-03-08 15:37] coderReview commented on #190
@szwart let me know if that works. Thanks

[2017-03-08 15:52] szwart commented on #190
I've relayed your message above - thanks!  I will let you know if we hear anything.
FYI - we were told this error message came in this morning from the SQL database...not sure if this helps at all (it means nothing to me!):
- ERROR: value too long for type character varying(65536)
- STATEMENT: UPDATE data SET value = $2::varchar, modifieddate = 'now', modifiedby = $3::varchar WHERE id = $1::varcha

[2017-03-08 16:23] rsial2 commented on #190
@coderReview please review the item above. If we're good, then I'll close this ticket. Please confirm.

[2017-03-08 16:28] coderReview commented on #190
I believe with the above command the data will be able to saved to the database. From the error message the text data was too long for the column. @rsial2 If you want we can wait for a feedback before closing the issue. Just to point that the issue is not related to the latest version of the app.

[2017-03-08 17:35] rsial2 commented on #190
It's an old version of the app, not the new version.

[2017-03-08 17:49] szwart commented on #190
Paulo,
The code you suggested did not work in their test lab. Here is their message:

Test failure.  Error: "ERROR: syntax error at or near "VARCHAR".  Maybe a syntax error in the FIT team's command?  Or maybe data set is required even though believed to be not required?  I'm not sure.  Probably best to not execute this Onboard until FIT team provides their feedback.  Command details:

sscadmin@ls

[2017-03-08 17:53] coderReview commented on #190
@szwart there is something strange in the command.

What I sent is: `ALTER TABLE data ALTER COLUMN value VARCHAR(10485760) NOT NULL;`

What have been executed is: `ALTER TABLE data ALTER COLUMN value VARCHAR (10485760<tel:10485760>) NOT NULL;`

During copy paste this text appeared **<tel:10485760>** . It shouldn't be there.

[2017-03-08 17:54] coderReview commented on #190
@szwart let's treat this by email.

[2017-03-08 17:54] rsial2 commented on #190
No let's keep this ticket open @coderReview and not use email

[2017-03-08 17:54] coderReview commented on #190
@rsial2 Ok.

[2017-03-08 18:07] szwart commented on #190
We are not seeing "10485760<tel:10485760>" in the error message. Here is the error message from the test lab again:

sscadmin@ls1:~$ sudo su -
[ ~ ]:
root@ls1># sudo -u postgres psql -d pl_fit -U postgres
could not change directory to "/root"
psql (9.2.1)
Type "help" for help.

pl_fit=# ALTER TABLE data ALTER COLUMN value VARCHAR (10485760<tel:10485760>) NOT NULL;
ERROR:  syntax error at or near "

[2017-03-08 18:09] szwart commented on #190
FYI - Cheryl thought is could be a permissions issue. This was the response when asked to run in root:
FIT's LS1 Postgres DB does not have a root user.  The "postgres" account is what's provisioned to administer the DB.  When testing with root, error" "psql: FATAL: Peer authentication failed for user "root"."

On Mar 8, 2017, at 11:55 AM, Paulo Vitor Magacho <notifications@github.com<mailto:notifi

[2017-03-08 18:11] coderReview commented on #190
You can do the following:
[code]

[2017-03-08 18:16] coderReview commented on #190
@szwart this is from your message:

[code]

[2017-03-08 18:20] szwart commented on #190
That is strange - I don't see what is in parentheses when I paste it. I'm currently in a meeting (about FIT!) and working off my phone.

I passed along your next suggestion. Thank you!!!

On Mar 8, 2017, at 12:16 PM, Paulo Vitor Magacho <notifications@github.com<mailto:notifications@github.com>> wrote:

@szwart<https://github.com/szwart> this is from your message:

pl_fit=# ALTER TABLE data ALTER

[2017-03-08 18:22] coderReview commented on #190
@szwart maybe the cell is understanding 10485760 as cell phone and creates a link to it automatically. If this text ``<tel:10485760>`` is not being used in the command ok.

[2017-03-08 19:32] szwart commented on #190
They tried testing the code you posted above with no luck.  Here is the message from the ground team:

I don't know why the command has no output on the server TopCoder is testing on and has a syntax error on the LS1 I'm testing on.  This latest email is the same command but split up with one more return command to make the commands shorts.  I tested that and still syntax error.

[ ~ ]:
root@ls1>#

[2017-03-08 19:44] coderReview commented on #190
Sorry. My bad. I don't have access to the VM database to test, so I can't verify the commands.
Try this one:

[code]

[2017-03-08 22:28] cflottorp commented on #190
The above command works in the test development lab and I do not get an error message.
However, does the server need to be re-started to take affect?

[2017-03-08 22:32] coderReview commented on #190
No. You don't need to restart the database server

[2017-03-08 22:33] coderReview commented on #190
If you want I can make more tests when I get home

[2017-03-08 22:42] cflottorp commented on #190
I get no errors but when I do a \d data the "public data" table still shows the value of (65536).
![issfit_run](https://cloud.githubusercontent.com/assets/17480273/23727517/fcba8496-041d-11e7-99bf-be5ad96aad86.jpg) Just want to verify that nothing else is needed for verification.

[2017-03-08 22:52] szwart commented on #190
Thanks for your help with this today.  It sounds like the lab testing went well for this command, and they are waiting for a "GO" to implement tomorrow.  I will keep you posted.

[2017-03-09 00:08] rsial2 commented on #190
Are you waiting on a GO from us @szwart? If yes, please proceed! We're all set and all of the latest code is in Github.

[2017-03-09 00:08] #190 closed

[2017-03-09 01:47] coderReview commented on #190
@cflottorp you missed a semicolon in the end of the command. otherwise the column is not update. And no error is thrown.

[2017-03-09 01:48] coderReview commented on #190
Just tested the command and it worked fine.
[code]

[2017-03-09 01:59] szwart commented on #190
No, unfortunately someone else. But thanks 😀!! I'll keep you posted!

On Mar 8, 2017, at 6:09 PM, Rashid Sial <notifications@github.com<mailto:notifications@github.com>> wrote:

Are you waiting on a GO from us @szwart<https://github.com/szwart>? If yes, please proceed! We're all set and all of the latest code is in Github.

—
You are receiving this because you were mentioned.
Reply to this email d

[2017-03-10 22:50] szwart commented on #190
Just wanted to let everyone know that Paulo's code fixed the sync issue they were currently having on ISS. Paulo, you and the Topcoder team are amazing!! We have a happy crew on ISS! Thank you!

On Mar 8, 2017, at 7:58 PM, Zwart, Sara (JSC-SK)[WYLE LABORATORIES, INC.] <sara.zwart-1@nasa.gov<mailto:sara.zwart-1@nasa.gov>> wrote:

No, unfortunately someone else. But thanks 😀!! I'll keep you posted!

[2017-03-10 23:20] coderReview commented on #190
Glad I could help 😀

[2017-03-10 23:22] rsial2 commented on #190
That's great news!

[2017-03-14 14:54] szwart opened #191 "Admin Tool - report not being generated"
We're being told that the ground team is able to successfully log into the Admin Tool, but they are unable to create a report.  After clicking RUN, the page attempted to load for some time.  The ground team attempted closing the application and logging back in several times.  They even disconnected from the VNC session and tried logging back in.  They could log back in, but could not get the repor

[2017-03-14 15:03] rsial2 commented on #191
@szwart was the new code deployed? We need to know what version of the system NASA is currently running.

[2017-03-14 15:08] szwart commented on #191
No - we are many months away from that being deployed b/c of the testing it needs to go through and the availability of the lab and service pack when that will be installed.  We're still on the original version.

[2017-03-14 15:11] rsial2 commented on #191
Cheryl mentioned that they were deploying updates? Can you ask her to confirm if they've done anything? I'm worried the admin tool was updated, but the app on the ISS was not.

[2017-03-14 15:31] coderReview commented on #191
@szwart, can you get the server logs?

[2017-03-14 15:35] szwart commented on #191
Cheryl says "I haven't made any changes to the admin tool. It is still the version for 1.7. The only change that I can see that would affect the report would be from the restart of the server and the increase in the size of the database field. The size may be affecting the reports data. That would be the only change for ISS FIT."
There is a meeting tomorrow morning including a large number of folk

[2017-03-14 20:45] szwart commented on #191
From the ground team "I still think there’s an underlying problem with the node.js server that is preventing BME from generating the reports, but without logging enabled on the node.js server there isn’t much that can be done. Perhaps we can try accessing the node.js server directly, without using the Apache reverse proxy but that may require modification of firewall rules on LS1 to allow that to

[2017-03-19 23:42] coderReview commented on #191
@szwart I could not reproduce the issue with the data provided from your test database. Can you check if it's a specific user that is causing the problem?
I would need the logs to find out what is going on.

[2017-03-19 23:50] szwart commented on #191
Yes, it appears that it's a specific user. They were able to pull reports from 2 crew members but not one. We have not seen any logs available unfortunately.

On Mar 19, 2017, at 6:43 PM, Paulo Vitor Magacho <notifications@github.com<mailto:notifications@github.com>> wrote:

@szwart<https://github.com/szwart> I could not reproduce the issue with the data provided from your test database. Can you c

[2017-03-19 23:56] coderReview commented on #191
@szwart is the report file for this specific user that is failing big?

[2017-03-20 12:47] szwart commented on #191
My understanding that they are not able to pull a report at all for that user, so we do not know how big that report is.

From: Paulo Vitor Magacho [mailto:notifications@github.com]
Sent: Sunday, March 19, 2017 6:56 PM
To: NASA-Tournament-Lab/NTL-ISS-Food-Intake-Tracker <NTL-ISS-Food-Intake-Tracker@noreply.github.com>
Cc: Zwart, Sara (JSC-SK)[WYLE LABORATORIES, INC.] <sara.zwart-1@nasa.gov>; Menti

[2017-03-20 12:50] coderReview commented on #191
@cflottorp has said that they were able to pull the report if connecting to the admin tool without apache proxy. That is why I asked. If that's true it might be some apache configuration issue.

[2017-03-20 18:06] cflottorp commented on #191
It seems to be specific to one user.  The user was originally entered using the “New User” route to register a new user instead of having the user included in the user profile file.  The user was able to access ISS FIT on the iPad but unfortunately it produced connectivity issues that “locked” out the other users ability to connect to the server.  The issue was corrected by increasing the size of

[2017-03-20 20:05] cflottorp commented on #191
Paulo,

I am looking a the file that was dumped from the pl_fit db and the only items that I see that are inconsistent in the file is provided in the attached file.  This long string of data is between consumption records.  Without seeing a file previously, i
[ISS_FIT_DB_IssueQuest.docx](https://github.com/NASA-Tournament-Lab/NTL-ISS-Food-Intake-Tracker/files/856219/ISS_FIT_DB_IssueQuest.docx)
s t

[2017-03-21 04:04] coderReview commented on #191
@cflottorp how did you get the data from the Word file?

@szwart , @cflottorp can you make a backup of the database from production (you can use the command below)?

`pg_dump -h 172.31.29.196 -p 56283 -U pl_fit_db -W -Fc -f pl_fit.bak pl_fit`

Change the IP  to production values.

If that is not possible (can't be done or you can't send it to me), you can run the following command in the database:

[2017-03-21 13:07] cflottorp commented on #191
The data is a sql file from the pl_fit.sql database file on ISS.  There are a few instances with the long string of database items (three that I have seen so far), but there are quite a few “removed” items in the file.  I will need to know the impact to the database for removing these items from the database.  Are these items that are duplicate items, issue in the database where the items are not

[2017-03-22 22:56] coderReview commented on #191
Can you download the reports for this user when accessing the admin tool directly bypassing the apache proxy?
Can you send me the lines that have this huge strings?